*.bin

*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

*.cfg

!game/panorama/images/*.vtex_c
!game/panorama/images/custom_game/*.vtex_c
!content/panorama/images/custom_game/loading_screen/uvao_head.png

*.vpk