node_modules
generator/settings.yml
content/panorama/styles/*
game/resource/addon_*.txt
game/panorama/localization

*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vsnd_c
*.vanim_c
*.vmesh_c
*.vagrp_c
*.vmdl_c
*.vmorf_c
game/screenshots
game/**/*.bin
game/**/*.cfg
game/cache_*.soc
game/*.tmp
game/server_log.txt
game/rich_presence_persistent_data.txt
