*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*.vpk
*.vsnd_c

*.vanim_c
*.vmesh_c
*.vagrp_c
*.vmdl_c

*.bin
*.cfg

!game/panorama/images/*.vtex_c
!game/panorama/images/custom_game/*.vtex_c

content/panorama/images/custom_game/loading_screen/uvao_head.png

scaleform_CustomUI/HideAbilities/.actionScriptProperties
scaleform_CustomUI/HideAbilities/bin-debug/
scaleform_CustomUI/HideAbilities/bin-release/

*.sublime-workspace
*.sublime-project
content/tooltips_*.txt
content/addon_*_utf8.txt