$BACKGROUND_COLOR: #000;

.EndScreenRoot
	width: 100%
	height: 100%
	background-color: gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, .00392)), color-stop(.12, rgba(0, 0, 0, .00392)), color-stop(.5, rgba(0, 0, 0, .13333)), to(rgba(0, 0, 0, 0)))

#VictoryRow
	margin-right: 8px
	margin-bottom: 16px
	opacity: 0
	transform: scaleX(0) scaleY(0) translatey(-50px)
	transition-duration: 1s
	transition-property: opacity, transform
	horizontal-align: right
	flow-children: right

#WinningTeamLogo
	margin-right: 16px
	vertical-align: center

#EndScreenVictory
	margin-bottom: -16px
	font-size: 64px
	color: #ccc
	text-transform: uppercase
	vertical-align: center

.EndScreenWindow
	margin-top: 100px
	margin-right: 200px
	horizontal-align: right
	flow-children: down

.EndScreenVictoryRow
	width: 100%

#CloseButton
	width: 200px
	margin-top: 50px
	vertical-align: bottom
	background-color: #121618
	border: 3px solid #4d5051
	horizontal-align: right

	&:hover
		border: 3px solid #fff

		Label
			color: #fff


	Label
		color: #6f6f6f
		text-transform: uppercase
		vertical-align: center
		horizontal-align: center


#TeamsContainer
	horizontal-align: right
	flow-children: down

.FlyoutTeam
	margin-top: 3px
	margin-right: 8px
	margin-bottom: 3px
	opacity: 0
	transform: translatey(-50px)
	transition-duration: .5s
	transition-property: opacity, transform
	//&.local_player_team

	&.team_endgame
		opacity: 1
		transform: translatey(0)

	&.no_players
		visibility: collapse


.FlyoutTeamData
	flow-children: right

.TeamInfo
	height: 100%
	margin-top: 1px

#TeamColor_GradentFromTransparentLeft
	width: 100%
	height: 100%

.FlyoutPlayer
	flow-children: right

//.TeamCloseSpacer

#PlayersContainer
	flow-children: down

.local_player_team
	#PlayersContainer
		box-shadow: fill rgba(255, 255, 255, .25098) -3px -3px 3px 6px

	#TeamScore
		color: #fff


.TeamId
	flow-children: right

#TeamLogo
	width: 30px
	height: 30px
	margin-top: 2px
	margin-right: 2px
	vertical-align: top
	horizontal-align: right

#TeamScorePanel
	width: 79px
	height: 100%
	margin-top: 1px
	margin-left: 306px
	background-color: $BACKGROUND_COLOR

#TeamScore
	margin-top: -2px
	font-size: 42px
	font-weight: bold
	color: #ccc
	text-shadow: 2px 2px 2px #000
	vertical-align: center
	horizontal-align: center

.Legend
	margin-right: 8px
	horizontal-align: right
	flow-children: right

	Label
		font-size: 12px
		color: #90999b
		text-transform: uppercase


.PlayerRow
	height: 32px

#PlayerRowContainer
	flow-children: right
	height: 32px

#HeroIcon
	vertical-align: middle
	border: 1px solid #000

#LevelContainer
	height: 100%

#KillsContainer
	height: 100%

#DeathsContainer
	height: 100%

#AssistsContainer
	height: 100%

.ScoreboardPanel
	height: 100%
	margin-top: 1px
	margin-left: 1px
	background-color: BACKGROUND_COLOR

	Label
		margin-top: -2px
		font-size: 30px
		text-shadow: 2px 2px 2px #000


.LegendPanel
	margin-top: 1px
	margin-left: 1px

.UltimateIndicatorShared
	width: 20px
	height: 20px
	margin-top: 2px
	margin-left: 44px
	vertical-align: center
	background-position: 50% 50%
	background-repeat: no-repeat
	background-size: 20px

#Level
	color: #898b8c
	vertical-align: middle
	horizontal-align: center

#Kills
	margin-top: 3px
	font-size: 20px
	text-align: center
	vertical-align: center
	horizontal-align: center

#Deaths
	margin-top: 3px
	font-size: 20px
	text-align: center
	vertical-align: center
	horizontal-align: center

#Assists
	margin-top: 3px
	font-size: 20px
	text-align: center
	vertical-align: center
	horizontal-align: center

#PlayerGoldAmount
	margin-top: 3px
	font-size: 20px
	text-align: center
	vertical-align: center
	horizontal-align: center

#PlayerName
	padding-left: 4px
	margin-top: 0
	margin-bottom: -4px
	font-size: 14px
	font-weight: bold
	color: #ccc
	white-space: nowrap

#HeroNameAndDescription
	padding-left: 4px
	margin-top: 0
	font-size: 13px
	color: #999
	text-shadow: 2px 2px 2px #000
	vertical-align: bottom

#PlayerDetailsContainer
	height: 100%

#PlayerAndHeroName
	height: 100%

#PlayerItemsContainer
	flow-children: right

	Image
		width: 41px
		height: 30px
		margin: 1px
		background-color: BACKGROUND_COLOR


.ScoreCol_TeamInfo
	width: 80px

.ScoreCol_PlayerDetails
	width: 170px

.ScoreCol_TeamScore
	width: 80px
	text-align: center

.ScoreCol_Hero
	width: 53px

.ScoreCol_Level
	width: 50px
	text-align: center

.ScoreCol_Kills
	width: 50px
	text-align: center

.ScoreCol_Deaths
	width: 50px
	text-align: center

.ScoreCol_Assists
	width: 50px
	text-align: center

.ScoreCol_Items
	width: 258px
	text-align: center

.ScoreCol_Gold
	width: 70px
	text-align: center

.endgame #VictoryRow
	opacity: 1
	transform: scaleX(1) scaleY(1)

.AspectRatio4x3 .EndScreenWindow
	margin-right: 50px

.AspectRatio5x4 .EndScreenWindow
	margin-right: 50px

.FlyoutScoreboardRoot.flyout_scoreboard_visible
	transform: translatey(0)

.one_player #TeamScore
	font-size: 30px

.is_local_player Label
	color: #fff
