#AbilityShopBase, .base
{
	width: 100%;
	height: 100%;
}
#AbilityShopBase
{
	visibility: collapse;
}

#InfoContainer
{
	align: left top;
	width: 125px;
	height: 35px;
	margin-top: 5px;
	margin-left: 210px;
	background-color: rgba(50,50,70,0.94);
	border: 2px solid white;
}
#InfoContainer:hover
{
	pre-transform-scale2d: 1.04;
}
#InfoContainer:active
{
	pre-transform-scale2d: 1.01;
}

#InfoContainerMainLabel
{
	align: left center;
	font-size: 15px;
	color: white;
	margin-left: 9px;
}

#InfoContainerPointsLabel
{
	align: right top;
	margin: 2px;
	font-size: 17px;
	color: gold;
}

#MainContainer
{
	align: center center;
	width: 1550px;
	height: 800px;
	background-image: url("file://{images}/custom_game/ability_shop/background.png");
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.15s;
	opacity: 1;
}
.MainHidden #MainContainer
{
	opacity: 0;
}

#InfoToolbar
{
	height: 40px;
	width: 100%;
	background-color: rgb(40,40,40);
	flow-children: right;
}

#PurchasedAbilitiesToggle
{
	vertical-align: center;
}

#MainRoot
{
	width: 100%;
	height: 100%;
}

#MainHeroesRoot
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#MainHeroesList
{
	width: 100%;
	height: 80%;
}

#HeroesToolbar
{
	width: 100%;
	height: 20%;
	margin: 7px;
	margin-top: 0;
}

#MainSearchRoot
{
	width: 100%;
	height: 100%;
	margin: 6px;
	margin-left: 32px;
	margin-right: 12px;
	visibility: collapse;
	flow-children: right-wrap;
	overflow: squish scroll;
}

.InSearchMode #MainHeroesRoot
{
	visibility: collapse;
}

.InSearchMode #MainSearchRoot
{
	visibility: visible;
}


#CloseButton
{
	align: right center;
}

.AbilityGroup
{
	flow-children: right;
}

.FilterHidden
{
	visibility: collapse;
}

.Ability
{
	width: 72px;
	height: 72px;
	margin: 5px;
	border-radius: 5px;
	border: 1px solid white;
}

.Ability.Purchased
{
	border: 3px solid lime;
}

.Ability.Purchased.MaxUpgraded
{
	border: 4px solid gold;
}

.MaxUpgraded #AbilityImage
{
	saturation: 0;
}

.NoPoints #AbilityImage
{
	saturation: 0.1;
}

.CanDelete #AbilityImage
{
	saturation: 0.1;
	wash-color: red;
}

#BannedOverlay
{
	visibility: collapse;
}

.Banned #BannedOverlay
{
	visibility: visible;
}

#PointCost, #SellReturn
{
	align: left bottom;
	margin-bottom: -1px;
	margin-left: 2px;
	color: gold;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.95);
}
#SellReturn
{
	color: lime;
	visibility: collapse;
}

.CanDelete #PointCost
{
	visibility: collapse;
}

#SellCost
{
	align: left top;
	margin-top: 2px;
	margin-left: 2px;
	color: gold;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.95);
	visibility: collapse;
}

#AbilityLevel
{
	align: right top;
	margin-top: 2px;
	margin-right: 1px;
	color: cyan;
	font-size: 20px;
	font-weight: bold;
	background-color: rgba(0,0,0,0.95);
	visibility: collapse;
}
.Purchased #AbilityLevel
{
	visibility: visible;
}

.CanDelete #SellReturn,
.CanDelete #SellCost
{
	visibility: visible;
}

.HeroListElement
{
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 18px;
	margin-right: -8px;
	width: 96px;
	height: 54px;
	transition-duration: 0.1s;
	transition-property: pre-transform-scale2d;
}
.HeroListElement:hover
{
	pre-transform-scale2d: 1.2;
}
.ChangedHeroPanel
{
	border: 2px solid red;
}
.HeroPanelSelected
{
	border: 4px solid #b2da25;
	pre-transform-scale2d: 0.95;
}

.HeroesPanelPage
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.HeroesPanelElement
{
	width: 100%;
	height: 33.3%;
	padding-left: 20px;
}

.HeroesPanelElementTeam
{
	width: 50%;
	height: 100%;
	flow-children: right-wrap;
}

.HeroesPanelElementGood
{
	horizontal-align: left;
	transform: scaleX(-1);
	margin-left: -5px;
}

.HeroesPanelElementGood Image
{
	transform: scaleX(-1);
}

.HeroesPanelElementBad
{
	horizontal-align: right;
	margin-right: -5px;
}
.SmallTextButton
{
	width: 170px;
	height: 50%;
	vertical-align: center;
	margin: 10px;
}
.SmallTextButton:hover
{
	pre-transform-scale2d: 1.05;
}
.SmallTextButton:active
{
	pre-transform-scale2d: 0.96;
}
.SmallTextButton:disabled
{
	saturation: .1;
	wash-color: grey;
}
.SmallTextButtonContainer
{
	align: center center;
	flow-children: right;
}
.SmallTextButtonContainer Label
{
	vertical-align: center;
	font-size: 20px;
	color: rgb(180,180,180);
}
.SmallTextButtonContainer Image
{
	vertical-align: center;
	margin-right: 8px;
}

#HeroAbilitiesRoot
{
	align: center center;
	background-color: rgba(0,0,0,0.8);
	flow-children: right;
}

#HeroAbilitiesRoot .Ability
{
	width: 96px;
	height: 96px;
}
.AspectRatio5x4 .HeroListElement,
.AspectRatio4x3 .HeroListElement
{
	width: 86.4px;
	height: 48.6px;
}

#ShiftStateLabel
{
	color: white;
	vertical-align: center;
	margin-left: 20px;
	width: 730px;
}