.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("file://{resources}/images/custom_game/loading_screen/background.png");
	background-position: 100% 100%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	overflow: clip;
}

#afterload_panel
{
	width: 59%;
	height: 100%;
}

#loading_base
{
	width: 100%;
	height: 100%;
}

#GoalVotePanel
{
	align: right top;
	width: 375px;
	margin-top: -207px;
	margin-right: 20px;
	background-color: rgba(0,0,0,0.8);
	border: 2px solid cyan;
	flow-children: down;

	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 0, 0.75, 0.15); 
}

.AspectRatio4x3 #GoalVotePanel
{
	margin-right: 225px;
}

.AspectRatio16x10 #GoalVotePanel
{
	margin-right: 150px;
}

.AspectRatio5x4 #GoalVotePanel
{
	margin-right: 250px;
}

#GoalVoteLabel
{
	margin: 2px;
	align: center top;
	color: white;
	font-size: 24px;
	margin-bottom: 6px;
}

#GoalVotePanelKLValues
{
	width: 100%;
	flow-children: right-wrap;
	margin-left: 3px;
}

.VoteKillGoalButton, .GoalVoteSettingsButton
{
	min-width: 0;
	width: 48%;
	margin: 3px 2px;
}

.GoalVotePanel_In
{
	transform: translateY(210px);
}
#GoalVotePanelCustomSettingsRoot
{
	width: 100%;
	margin-left: 3px;
	visibility: collapse;
}