@define better-ease-in: cubic-bezier(0, 0, 0.75, 0.15);

.base
{
	width: 59%;
	height: 100%;
}

#UVAO
{
	width: 156.25px;
	height: 142px;
	margin-top: 96.8%;
	margin-bottom: -100%;
	margin-left: 80%;
	animation-name: uvao_anim;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes 'uvao_anim'
{
	0%
	{
		transform: translateY(0px) rotateZ(-14deg);
	}

	50%
	{
		transform: translateY(8px) rotateZ(-14deg);
	}

	100%
	{
		transform: translateY(0px) rotateZ(-14deg);
	}
}

#Arthas
{
	align: center center;
	width: 700px;
	height: 700px;
}

.Arthas_Animation
{
	animation-name: arthas_anim;
	animation-delay: 0s;
	animation-duration: 8s;
	animation-timing-function: linear;
}

@keyframes 'arthas_anim'
{
	0%
	{
		transform: rotateZ(0deg);
		pre-transform-scale2d: 0.0;
	}
	50%
	{
		transform: rotateZ(180deg);
		pre-transform-scale2d: 0.5;
	}
	100%
	{
		transform: rotateZ(360deg);
		pre-transform-scale2d: 1;
	}
}

.Blackhole
{
	width: 96px;
	height: 96px;
	animation-delay: 1s;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	border-radius: 100%;
	border: 1px solid lightblue;
}

#blackhole1
{
	margin-left: 200px;
	margin-top: 300px;
	animation-name: arthas_blackhole1_anim;
}

#blackhole2
{
	margin-left: 375px;
	margin-top: 300px;
	animation-name: arthas_blackhole2_anim;
}

@keyframes 'arthas_blackhole1_anim'
{
	0%
	{
		transform: rotateZ(0deg);
	}

	50%
	{
		transform: rotateZ(180deg);
	}

	100%
	{
		transform: rotateZ(360deg);
	}
}

@keyframes 'arthas_blackhole2_anim'
{
	0%
	{
		transform: rotateZ(360deg);
	}

	50%
	{
		transform: rotateZ(180deg);
	}

	100%
	{
		transform: rotateZ(0deg);
	}
}

#Enigma
{
	margin-left: -601px;
	vertical-align: center;
	width: 601px;
	height: 467px;
	transition-property: transform;
	transition-duration: 3s;
	transition-timing-function: ease-in;
}

.Enigma_In
{
	transform: translateX(650px);
}

#EnigmasBlackhole
{
	align: center center;
	visibility: collapse;
	width: 923px;
    height: 842px;
}

.EnigmasBlackhole_In
{
	transform: scaleX(0) scaleY(0);
	transition-property: transform;
	transition-duration: 3s;
	transition-timing-function: ease-in;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: enigmas_blackhole_anim;
}
@keyframes 'enigmas_blackhole_anim'
{
	0%
	{
		transform: scaleX(0) scaleY(0) rotateZ(0deg);
	}
	50%
	{
		transform: scaleX(1) scaleY(1) rotateZ(180deg);
	}
	100%
	{
		transform: scaleX(1) scaleY(1) rotateZ(360deg);
	}
}

.Fade_Out
{
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-name: fade_out_anim;
}

@keyframes 'fade_out_anim'
{
	0%
	{
		transform: scaleX(1) scaleY(1) rotateZ(0deg);
		opacity: 1;
	}
	100%
	{
		transform: scaleX(5) scaleY(4) rotateZ(30deg);
		opacity: 0;
	}
}

#Logo_aa
{
	width: 698px;
	height: 97px;
	horizontal-align: center;
	margin-top: -97px;
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: better-ease-in;
}

.Logo_aa_In
{
	transform: translateY(540px);
}

.Logo_aa_locked_moving
{
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-name: logo_aa_moving_anim;
	animation-iteration-count: infinite;
}

@keyframes 'logo_aa_moving_anim'
{
	0%
	{
		transform: translateY(540px);
	}
	50%
	{
		transform: translateY(560px);
	}
	100%
	{
		transform: translateY(540px);
	}
}

#Logo_jesus
{
	width: 198.5px;
	height: 320px;
	horizontal-align: left;
	margin-top: -288px;
	margin-left: -196px;
	transition-property: transform;
	transition-duration: 4s;
	transition-timing-function: better-ease-in;
}

.Logo_jesus_In
{
	transform: translateY(540px) translateX(210px);
}

.Logo_jesus_locked_moving
{
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-name: logo_jesus_moving_anim;
	animation-iteration-count: infinite;
}

@keyframes 'logo_jesus_moving_anim'
{
	0%
	{
		transform: translateY(540px) translateX(210px);
	}
	50%
	{
		transform: translateY(520px) translateX(220px);
	}
	100%
	{
		transform: translateY(540px) translateX(210px);
	}
}

#Logo_satan
{
	width: 270px;
	height: 318px;
	align: right bottom;
	margin-bottom: -318px;
	margin-right: -270px;
	transition-property: transform;
	transition-duration: 4s;
	transition-timing-function: better-ease-in;
}

.Logo_satan_In
{
	transform: translateY(-640px) translateX(-240px);
}

.Logo_satan_locked_moving
{
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-name: logo_satan_moving_anim;
	animation-iteration-count: infinite;
}

@keyframes 'logo_satan_moving_anim'
{
	0%
	{
		transform: translateY(-640px) translateX(-240px);
	}
	50%
	{
		transform: translateY(-660px) translateX(-235px);
	}
	100%
	{
		transform: translateY(-640px) translateX(-240px);
	}
}

#Label_black
{
	font-family: Courier;
	font-weight: bold;
	font-size: 96px;
	color: black;
}

.Label_black_locked_blinking
{
	animation-name: label_black_anim;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: 10;
}

@keyframes 'label_black_anim'
{
	0%{ color: white; }
	100%{ color: black; }
}

#Label_black_panel
{
	align: center bottom;
	margin-bottom: -96px;
	transition-property: transform;
	transition-duration: 3s;
	transition-timing-function: better-ease-in;
}

.Label_black_panel_In
{
	transform: translateY(-520px);
}

.Label_black_panel_locked_moving
{
	animation-duration: 15s;
	animation-timing-function: linear;
	animation-name: logo_black_panel_moving_anim;
	animation-iteration-count: infinite;
}

@keyframes 'logo_black_panel_moving_anim'
{
	0%
	{
		transform: translateY(-520px);
	}
	50%
	{
		transform: translateY(-510px);
	}
	100%
	{
		transform: translateY(-520px);
	}
}

#Label_star
{
	color: black;
	font-size: 132px;
	font-family: Courier;
	font-weight: bold;
	margin-top: 60px;
	margin-left: 60px;
	margin-right: 60px;
}

#star1
{
	align: left bottom;
	margin-bottom: 50px;
}

#star2
{
	align: left center;
	margin-left: 60px;
	margin-bottom: 85px;
}

#star3
{
	align: center top;
	margin-top: 5px;
}

#star4
{
	align: right center;
	margin-right: 60px;
	margin-bottom: 85px;
}

#star5
{
	align: right bottom;
	margin-bottom: 50px;
}

.star
{
	background-image: url("file://{images}/custom_game/loading_screen/star.png");
	height: 68px; 
	width: 70px;
    background-size: 68px 70px;
    background-repeat: no-repeat;
}

.star_floating
{
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: linear;
}

#StarsBox
{
	align: center center;
	margin-top: 375px;
}

.StarsBox_Showing
{
	animation-name: StarsBox_Showing_anim;
	animation-duration: 5s;
	animation-timing-function: linear;
}

.StarsBox_Shown
{
	animation-name: StarsBox_Shown_anim;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'StarsBox_Shown_anim'
{
	0%{ transform: translateY(0px) translateX(0px);}
	10%{ transform: translateY(10px) translateX(-10px); }
	20%{ transform: translateY(0px) translateX(0px); }
	30%{ transform: translateY(-10px) translateX(10px); }
	40%{ transform: translateY(0px) translateX(0px); }
	50%{ transform: translateY(-15px) translateX(-15px); }
	60%{ transform: translateY(0px) translateX(0px); }
	70%{ transform: translateY(20px) translateX(20px); }
	80%{ transform: translateY(25px) translateX(20px); }
	90%{ transform: translateY(-10px) translateX(-5px); }
	100%{ transform: translateY(0px) translateX(0px); }
}

@keyframes 'StarsBox_Showing_anim'
{
	0%{ transform: translateY(0px) translateX(0px); opacity: 0;}
	10%{ transform: translateY(10px) translateX(-10px); opacity: 0.5; }
	20%{ transform: translateY(0px) translateX(0px); opacity: 1; }
	30%{ transform: translateY(-10px) translateX(10px); opacity: 0.5; }
	40%{ transform: translateY(0px) translateX(0px); opacity: 0; }
	50%{ transform: translateY(-15px) translateX(-15px); opacity: 0.5; }
	60%{ transform: translateY(0px) translateX(0px); opacity: 1; }
	70%{ transform: translateY(20px) translateX(20px); opacity: 0.5; }
	80%{ transform: translateY(25px) translateX(20px); opacity: 0; }
	100%{ transform: translateY(0px) translateX(0px); opacity: 1; }
}

#Lina
{
	margin-left: -50px;
	align: right center;
	width: 300px;
	height: 533px;
	transition-property: transform;
	transition-duration: 3s;
	transition-timing-function: ease-in;
}

#loading_bar
{
	width: 677px;
	height: 58px;
	align: center bottom;
	margin-bottom: 150px;
}

#GoalVotePanel
{
	align: right top;
	width: 375px;
	margin-top: -207px;
	margin-right: 20px;
	background-color: rgba(0,0,0,200);
	border: 2px solid cyan;
	flow-children: down;

	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: better-ease-in; 
}

.AspectRatio4x3 #GoalVotePanel
{
	margin-right: 225px;
}

.AspectRatio16x10 #GoalVotePanel
{
	margin-right: 150px;
}

.AspectRatio5x4 #GoalVotePanel
{
	margin-right: 250px;
}

#GoalVoteLabel
{
	margin: 2px;
	align: center top;
	color: white;
	font-size: 24px;
	margin-bottom: 6px;
}

#GoalVotePanelKLValues
{
	width: 100%;
	flow-children: right-wrap;
	margin-left: 3px;
}

.VoteKillGoalButton, .GoalVoteSettingsButton
{
	min-width: 0;
	width: 48%;
	margin: 3px 2px;
}

.GoalVotePanel_In
{
	transform: translateY(210px);
}
#GoalVotePanelCustomSettingsRoot
{
	width: 100%;
	margin-left: 3px;
	visibility: collapse;
}