.icon
{
	width: 10px;
	height: 10px;
	transform: translateX(-5px) translateY(-5px);
	border: 1px solid black;
}

.DynamicMinimapDisabled .icon
{
	visibility: collapse;
}

.icon_boss_l1_v1, .icon_boss_l1_v2
{
	background-color: #0079A8;
}
.icon_boss_l2_v1, .icon_boss_l2_v2
{
	background-color: #470C4A;
}
.icon_boss_central
{
	background-color: #218500;
}
.icon_boss_freya
{
	background-color: #A4E8ED;
}
.icon_boss_zaken
{
	background-color: #B07F6A;
}

.icon_spawner
{
	width: 8px;
	height: 8px;
	transform: translateX(-4px) translateY(-4px);
	border-width: 0;
	background-size: 100% 100%;
	background-image: url("file://{images}/custom_game/simple_triangle.png");
}

.icon_spawner_easy
{
	wash-color: #87DE8A;
}

.icon_spawner_medium
{
	wash-color: #E3DE5D;
}

.icon_spawner_hard
{
	width: 9px;
	height: 9px;
	transform: translateX(-4.5px) translateY(-4.5px);
	wash-color: #CC2B2B;
}

.icon_rune
{
	width: 8px;
	height: 8px;
	transform: translateX(-4px) translateY(-4px);
	border-radius: -1px;
	background-color: #EBBD07;
}

.NewYearAlastorMinimap
{
	background-image: url("file://{images}/custom_game/alastor.png");
	background-size: 100% 100%;
}