.DynamicMinimapRoot
{
	width: 280px;
	height: 280px;
	align: left bottom;
	margin-left: 8px;
}

.AspectRatio5x4 .base
{
	width: 260px;
	height: 260px;
}

.icon
{
	width: 12px;
	height: 12px;
	transform: translateX(-6px) translateY(-6px);
	border: 1px solid black;
}

.icon_boss_l1_v1, .icon_boss_l1_v2
{
	background-color: cyan;
}
.icon_boss_l2_v1, .icon_boss_l2_v2
{
	background-color: blue;
}
.icon_boss_central
{
	background-color: green;
}
.icon_boss_heaven
{
	background-color: white;
}
.icon_boss_hell
{
	background-color: red;
}

.icon_spawner
{
	width: 10px;
	height: 10px;
	transform: translateX(-5px) translateY(-5px);
	border-width: 0;
	background-size: 100% 100%;
	background-image: url("file://{images}/custom_game/simple_triangle.png");
}

.icon_spawner_easy
{
	wash-color: lime;
}

.icon_spawner_medium
{
	wash-color: yellow;
}

.icon_spawner_hard
{
	wash-color: red;
}

.icon_rune
{
	width: 10px;
	height: 10px;
	transform: translateX(-5px) translateY(-5px);
	border-radius: -1px;
	background-color: gold;
}