.icon
{
	width: 10px;
	height: 10px;
	border: 1px solid black;
	opacity: 0.9;
	transform: translateX(-5px) translateY(-5px);
}

.DynamicMinimapDisabled .icon
{
	visibility: collapse;
}

.icon_boss_l1_v1,
.icon_boss_l1_v2
{
	background-color: #0079a8;
}

.icon_boss_l2_v1,
.icon_boss_l2_v2
{
	background-color: #470c4a;
}

.icon_boss_central
{
	background-color: #218500;
}

.icon_boss_freya
{
	background-color: #a4e8ed;
}

.icon_boss_zaken
{
	background-color: #b07f6a;
}

.icon_spawner
{
	width: 8px;
	height: 8px;
	background-image: url("file://{images}/custom_game/simple_triangle.png");
	background-size: 100% 100%;
	border-width: 0;
	transform: translateX(-4px) translateY(-4px);
}

.icon_spawner_easy
{
	wash-color: #87de8a;
}

.icon_spawner_medium
{
	wash-color: #e3de5d;
}

.icon_spawner_hard
{
	width: 9px;
	height: 9px;
	transform: translateX(-4.5px) translateY(-4.5px);
	wash-color: #cc2b2b;
}

.icon_rune
{
	width: 8px;
	height: 8px;
	background-color: #ebbd07;
	border-radius: -1px;
	transform: translateX(-4px) translateY(-4px);
}
