.base {
  width: 100%;
  height: 100%; }

#WearablesPanel {
  width: 1100px;
  height: 800px;
  align: center center;
  background-color: rgba(20, 20, 20, 0.99);
  border-radius: 6px;
  box-shadow: -4px -4px 8px 8px #141414;
  transition-duration: 0.2s;
  transition-property: opacity;
  opacity: 0; }

#CloseButton {
  align: right top; }

#WearablesPanelMain {
  width: 100%;
  height: 100%;
  flow-children: right; }

#WearablesPanelLeft {
  width: 20%;
  height: 100%; }

#WearablesPanelRight {
  width: 80%;
  height: 100%; }

#WearablesHeroPreview {
  width: 100%;
  height: 100%; }

.PanelOpened #WearablesPanel {
  opacity: 1; }
