@define BACKGROUND_COLOR: rgba(0, 60, 60, 0.8627);

#HeroListPanel
{
	flow-children: right;
}

#SelectedHeroSelectPanel
{
	background-color: BACKGROUND_COLOR;
	border-radius: 50px 50px 0px 0px;
}

#SelectedHeroSelectHeroName
{
	align: center bottom;
	color: lightblue;
}

#CloseButton
{
	align: right top;
	margin: 15px;
}

#HeroListPanelOuter
{
	background-color: BACKGROUND_COLOR;
	border-radius: 0px 0px 20px 20px;
}

#SelectedHeroDescriptionPanel
{
	background-color: BACKGROUND_COLOR;
	horizontal-align: left;
}

#AttributesContainer
{
	horizontal-align: right;
}

.SelectedHeroAttributesElement
{
	horizontal-align: left;
	background-color: BACKGROUND_COLOR;
}

#SelectedHeroScene
{
	background-color: BACKGROUND_COLOR;
}

#SelectedHeroDescriptionText
{
	padding-left: 12px;
}

#SelectedHeroDescriptionText VerticalScrollBar
{
	horizontal-align: left;
}