.base
{
	width: 100%;
	height: 100%;
}

#WavesStatus
{
	visibility: collapse;
	align: right top;
	width: 250px;
	height: 400px;
	margin: 50px;
	background-color: rgba(187,255, 255, 0.4);
	border: 5px solid cyan;
}