.base
{
	width: 100%;
	height: 100%;
}

#HeroAvatarPanel
{
	width: 192px;
	margin-bottom: 4px;
	flow-children: down;
}

#HeroAvatarImage
{
	width: 192px;
	height: 108px;
}

#HeroName
{
	color: white;
	font-size: 24px;
	align: left bottom;
	margin-left: 8px;
}

#HeroLevelPanel
{
	width: 100%;
	height: 32px;
}

#HeroLevelLabel
{
	align: right center;
	color: gold;
	text-shadow: 0px 0px 2px yellow;
	font-weight: bold;
	text-decoration: underline;
	font-size: 30px;
	font-family: Radiance;
}

#HeroNextLevel
{
	width: 100%;
	height: 22px;
	background-color: white;
	border: 1px solid white;
}

#HeroNextLevel_Left
{
	background-color: gold;
	transition-property: width;
	transition-duration: 0.1s;
}

#HeroNextLevelLabel
{
	align: center center;
	color: black;
	font-size: 18px;
	text-shadow: 0px 0px 3px white;
}

.AttributePanel
{
	height: 40px;
	width: 120px;
}

.AttributePanelStack
{
	margin: 8px;
	flow-children: down;
}

.AttributePicture
{
	align: left center;
	width: 24px;
	height: 24px;
}

.AttributeValue
{
	align: right center;
	padding-top: 5px;
	color: white;
	margin-right: 4px;
}

#DotaAttributePic_1
{
	border: 2px solid red;
	border-radius: 5px;
	margin-left: 4px;
}

#DotaAttributePic_2
{
	color: lime;
	font-size: 24px;
	text-align: center;
	margin-left: 4px;
}

#DotaAttributePic_3
{
	border: 4px solid DodgerBlue;
	border-radius: -1px;
	margin-left: 4px;
}

.PrimaryAttribute
{
	box-shadow: -2px -2px 4px 4px white;
}

#DotaAttributePic_2.PrimaryAttribute
{
	box-shadow: none;
	text-shadow: 0 0 4px white; 
}

#DeadHeroBlocker Label
{
	align: center center;
	font-size: 72px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 8px red;
}

.HeroDead #DeadHeroBlocker
{
	visibility: visible;
}

.HeroDead #HPBar_Progress_Left,
.HeroDead #ManaBar_Progress_Left
{
	visibility: collapse;
}

#HPBar_TextPanel
{
	horizontal-align: center;
	flow-children: right;
	background-color: rgba(0,0,0,220);
	box-shadow: -3px -3px 6px 6px rgba(0,0,0,220);
}

#HPBar_LabelConst
{
	color: white;
	font-size: 24px;
	text-shadow: 0px 0px 1px white;
}

#HPBar_LabelRegen
{
	color: lime;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 0px 1px lime;
}

#HPBar_Progress,
#ManaBar_Progress
{
	width: 100%;
	height: 22px;
}
#ManaBar_Progress
{
	width: 90%;
	height: 18px;
	align: center center;
	margin-top: -4px;
}

#HPBar_Progress_Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( green ), to( lime ) ) ;
	transition-property: width;
	transition-duration: 0.1s;
}

.is_enemy #HPBar_Progress_Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( darkred ), to( red ) ) ;
}

#ManaBar_TextPanel
{
	horizontal-align: center;
	flow-children: right;
	background-color: rgba(0,0,0,220);
	box-shadow: -3px -3px 6px 6px rgba(0,0,0,220);
}

#ManaBar_LabelConst
{
	color: white;
	font-size: 18px;
	text-shadow: 0px 0px 1px white;
}

#ManaBar_LabelRegen
{
	color: cyan;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 1px cyan;
}

#ManaBar_Progress_Left
{
	background-color: DodgerBlue;
	transition-property: width;
	transition-duration: 0.1s;
}

#KDA_Label_KDAHL
{
	vertical-align: center;
	color: lightgrey;
	font-size: 18px;
	padding-top: 3px;
	text-align: right;
}

#KDA_Value_KDAHL
{
	align: right center;
	color: white;
	font-size: 22px;
	margin-left: 18px;
	font-weight: bold;
	text-shadow: 0px 0px 2px white;
}

.AttributePanelSublisted
{
	flow-children: right;
}

.AttributeValueSubelement
{
	color: white;
}

.AttributeValueSublisted
{
	flow-children: right;
	padding-top: 5px;
}

#DotaAttributeValue_damage_bonus
{
	color: lime;
	font-weight: bold;
}

#LevelUpButton
{
	align: left center;
	border: 1px solid black;
	background-color: #c4a529;
	width: 70%;
	height: 28px;
	visibility: collapse;
}

.could_level_up #LevelUpButton
{
	visibility: visible;
}

#LevelUpButton:hover
{
	background-color: #9e8b2c;
}

#LevelUpButtonInset
{
	width: 100%;
	height: 100%;
	border: 2px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
	margin: 1px;
}

#LevelUpButton:hover #LevelUpButtonInset
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.8, #c4a529 ), to( #ffffff ) );
}

#LevelUpButtonLabel
{
	text-transform: uppercase;
	text-shadow: 0px 1px 3px 2.5 #000000;
	color: white;
	align: left center;
	margin-left: 8px;
}

#LevelUpButtonPoints
{
	color: lightyellow;
	align: right center;
	text-shadow: 0px 1px 3px 2.5 #000000;
	margin-right: 2px;
}

#SelectedEntitiesPanel
{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,200);
	box-shadow: -4px -4px 8px 8px black;
	visibility: collapse;
	flow-children: right-wrap;
	overflow: squish scroll;
}

#AttributesPanelStacks
{
	flow-children: right;
}

.SelectedEntitiesUnit
{
	width: 53.25px;
	height: 70.5px;
	border-radius: 30px;
	border: 2px solid #fff;
}

.PortraitSelectedUnit
{
	border: 2px solid lime;
}

#GoldLabel
{
	min-width: 50px;
	vertical-align: center;
	font-size: 20px;
	color: white;
	margin-left: 8px;
}

#GoldImage
{
	width: 30px;
	height: 30px;
	vertical-align: center;
}

.AbilityPanel
{
	margin: 4px;
	height: 100%;
}

.AbilityPanel.no_ability
{
	visibility: collapse;
}


#ButtonAndLevel
{
	height: 100%;
	flow-children: none;
}

#AbilityButton
{
	width: 80px;
	height: 80px;
	border: 2px solid rgba(85, 85, 85, 200);
	border-radius: 100%;
}

.is_passive #AbilityButton
{
	border: 2px solid transparent;
}

#UpgradeBorder
{
	background-color: transparent;
	border-radius: 100%;
}

.learnable_ability #UpgradeBorder
{
   background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
}

#AbilityButton:hover
{
	border: 2px solid white;
}

#AbilityButton:active
{
	border: 4px solid white;
}

.no_level DOTAAbilityImage
{
	saturation: 0;
	wash-color: #303030;
}

.not_activated DOTAAbilityImage
{
	saturation: 0.2;
	wash-color: grey;
}

.insufficient_mana DOTAAbilityImage
{
	saturation: 0;
	wash-color: #1569be;
}

.potential_upgrade.no_level DOTAAbilityImage
{
	saturation: 1;
	wash-color: white;
}

#AbilityStatusBorder
{
	border: 4px solid transparent;
	border-radius: 100%;
}

.auto_cast_enabled #AbilityStatusBorder
{
	border: 4px solid orange;
}

.toggle_enabled #AbilityStatusBorder
{
	border: 4px solid green;
}

#AbilityLevelContainer
{
	align: center bottom;
	margin-bottom: 10px;
	flow-children: right;
}

#CooldownOverlay
{
	height: 100%;
	background-color: #000000DD;
}

#CooldownTimer
{
	color: white;
	font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
	horizontal-align: center;
	vertical-align: center;
}

#Cooldown
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.in_cooldown #Cooldown
{
	visibility: visible;
}

#ManaCost
{
	color: #c0e8fb;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 0px 6px 8 #245191;
	margin-bottom: 25px;
	align: center bottom;
}

.no_mana_cost #ManaCost
{
	visibility: collapse;
}

#ActiveAbility
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( #FFFFFF ), to( #FFFFFF00 ) );
	border: 4px solid #FFFFFF40;
	opacity: 0;
	border-radius: 100%;
}

.is_active #ActiveAbility
{
	opacity: 1;
}

#HotkeyText
{
	align: center top;
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.no_level #HotkeyText,
.no_item #HotkeyText,
.is_passive #HotkeyText,
.no_hotkey #HotkeyText
{
	visibility: collapse;
}

.LevelPanel
{
	width: 12px;
	height: 12px;
	border-radius: -1px;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2e2716 ), to( #020302 ) );
	border: 2px solid #ffffff05;
}

.active_level.LevelPanel
{
	background-color: #ceaa31;
	border: 2px solid #734918;
}

#PassivesDisabledOverlay
{
	width: 100%;
	height: 100%;
	opacity: 0;
}

.is_passive_disabled #PassivesDisabledOverlay
{
	opacity: 1;
}

.is_passive_disabled DOTAAbilityImage
{
	saturation: 0.8;
	wash-color: grey;
}

#BuffFrame
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #52ae21 ), to( #2c6e08 ) );
	padding: 1px;
	margin: 3px;
	width: 50px;
	height: 50px;
	border-radius: -1px;
}

.no_buff #BuffFrame
{
	visibility: collapse;
}

.is_debuff #BuffFrame
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a54518 ), to( #652908 ) );
}

#StackCount
{
	text-shadow: 0px 0px 6px 6 #000000;
	margin: 4px;
	align: left top;
	font-size: 20px;
	font-family: Goudy Trajan Medium;
	color: white;
	visibility: collapse;
}

.has_stacks #StackCount
{
	visibility: visible;
}

#BuffImage,
#BuffImageItem
{
	width: 100%;
	height: 100%;
	margin: 3px;
	border-radius: -1px;
}

#BuffDuration
{
	width: 200%;
	height: 50%;
	margin: -3px;
	vertical-align: bottom;
}

#BuffDuration_Left
{
	background-color: lime;
	transition-property: width;
	transition-duration: 0.2s;
}

.is_debuff #BuffDuration_Left
{
	background-color: red;
}

#AttributePanelStackAttributes
{
	vertical-align: bottom;
}

#AttributePanelStackAttributes.LearnableAttributes
{
	animation-name: LearnableAttributesAnim;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	box-shadow: 0px 0px 8px yellow;
}

@keyframes 'LearnableAttributesAnim'
{
	0% {
		box-shadow: 0px 0px 8px yellow;
	}
	50% {
		box-shadow: 0px 0px 16px yellow;
	}
	100% {
		box-shadow: 0px 0px 8px yellow;
	}
}

#CourierImage
{
	align: left center;
	margin-left: 2px;
}

#CourierStatusPanel
{
	align: left center;
	height: 100%;
	width: 60px;
}

#CourierTargetPanel
{
	align: right center;
	height: 100%;
	width: 58px;
}

#CourierStatusTarget
{
	height: 28.8px;
	width: 51.2px;
	align: center center;
	border-radius: 5px;
	border: 1px solid white;
}

#CourierDeadOverlay
{
	width: 100%;
	height: 100%;
	background-color: rgba(20,20,20,255);
	visibility: collapse;
}
#CourierDeadOverlay.DeadCourier
{
	visibility: visible;
}

#CourierDeadTime
{
	color: white;
	align: center center;
	font-size: 24px;
}

#KDAPanel
{
	width: 100%;
	flow-children: down;
	background-color: rgba(0,0,0,220);
	box-shadow: -10px -10px 20px 20px rgba(0,0,0,220);
	border-radius: 10px;
}
#AbilitiesPanelInner
{
	height: 100%;
	horizontal-align: center;
	flow-children: right;
	background-color: rgba(0,0,0,230);
	box-shadow: -1.5px -1.5px 3px 3px rgba(0,0,0,230);
}

//Standart, 16x9
#Background
{
	width: 100%;
	margin-left: 287px;
	height: 240px;
	vertical-align: bottom;
	opacity: 1.0;

	//background-color: rgba(0,0,0,220);
	//box-shadow: -10px -10px 20px 20px rgba(0,0,0,220);

	//background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(0,0,0,250) ), color-stop(0.4, rgba(0,0,0,200)), to( rgba(0,0,0,0) ) );
}
#DotaHeroStatus
{
	align: left bottom;
	margin-left: 300px;
}
#AttributesPanel
{
	align: left bottom;
	margin-bottom: 4px;
	margin-left: 500px; //492px + margin
	background-color: rgba(0,0,0,210);
	box-shadow: -4px -4px 8px 8px rgba(0,0,0,220);
}
#HPManaBar,
#DeadHeroBlocker
{
	width: 700px;
	height: 98px;
	align: center bottom;
	margin-bottom: 140px;
	margin-left: 400px;
	flow-children: down;
}
#DeadHeroBlocker
{
	background-color: rgba(0,0,0,220);
	box-shadow: -10px -10px 20px 20px rgba(0,0,0,220);
	visibility: collapse;
}
#BuffsPanel
{
	width: 1200px;
	height: 56px;
	align: left bottom;
	margin-left: 300px;
	margin-bottom: 245px;
	flow-children: right-wrap;
}
#AbilitiesPanel
{
	width: 620px;
	height: 130px;
	margin-left: 320px;
	margin-bottom: 8px;
	align: center bottom;
}
#GoldPanel
{
	height: 30px;
	align: right bottom;
	margin-bottom: 120px;
	margin-right: 5px;
	flow-children: right;
}
#CourierControls
{
	align: right bottom;
	width: 120px;
	height: 42px;
	margin: 4px;
	background-color: rgba(100,100,100,220);
	border-radius: 5px;
}
#AbilitiesPanelHittestBlocker
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}
#DefaultInterfaceHeroName
{
	align: left bottom;
	margin: 200px 484px;
	width: 142px;
	text-align: center;
	background-color: rgb(18,18,17);
	visibility: collapse;
}

#ClickPurgableModifiersOverlay
{
	align: left bottom;
	margin: 300px 300px;
}

.MinimalisticHudDisabled #Background,
.MinimalisticHudDisabled #DotaHeroStatus,
.MinimalisticHudDisabled #AttributesPanel,
.MinimalisticHudDisabled #HPManaBar,
.MinimalisticHudDisabled #DeadHeroBlocker,
.MinimalisticHudDisabled #BuffsPanel,
.MinimalisticHudDisabled #CourierControls
{
	visibility: collapse;
}
.MinimalisticHudDisabled #AbilitiesPanelHittestBlocker,
.MinimalisticHudDisabled #DefaultInterfaceHeroName
{
	visibility: visible;
}
.MinimalisticHudDisabled #AbilitiesPanel
{
	pre-transform-scale2d: 0.88;
	width: 600px;
	margin-left: 338px;
	margin-bottom: 0px;
}
.MinimalisticHudDisabled .AbilityPanel
{
	margin: 0.8px;
}
.MinimalisticHudDisabled #AbilitiesPanelInner
{
	background-color: transparent;
	box-shadow: 0 0 0 0 transparent;
}

.MinimalisticHudDisabled #GoldPanel
{
	transform: translateY(-40px);
}

.MinimalisticHudDisabled #ClickPurgableModifiersOverlay
{
	align: left bottom;
	margin: 220px 650px;
}
//16x10
.AspectRatio16x10 #DotaHeroStatus
{
	pre-transform-scale2d: 0.9;
	margin-left: 283px;
}
.AspectRatio16x10 #AttributesPanel
{
	margin-left: 460px;
	pre-transform-scale2d: 0.9;
}
.AspectRatio16x10 #AbilitiesPanel
{
	margin-left: 285px;
	pre-transform-scale2d: 0.9;
}
.AspectRatio16x10 #BuffsPanel
{
	width: 900px;
	height: 56px;
	margin-bottom: 250px;
}
.AspectRatio16x10 #HPManaBar,
.AspectRatio16x10 #DeadHeroBlocker
{
	margin-left: 374px;
	pre-transform-scale2d: 0.9;
}
.AspectRatio16x10 #DefaultInterfaceHeroName
{
	margin: 204px 381px;
}
.AspectRatio16x10.MinimalisticHudDisabled #AbilitiesPanel
{
	pre-transform-scale2d: 0.88;
	margin-left: 329px;
}

.AspectRatio16x10.MinimalisticHudDisabled #ClickPurgableModifiersOverlay
{
	align: left bottom;
	margin: 220px 545px;
}
//4x3
.AspectRatio4x3 #DotaHeroStatus
{
	pre-transform-scale2d: 0.9;
	margin-left: 283px;
}
.AspectRatio4x3 #AttributesPanel
{
	margin-left: 5px;
	margin-bottom: 285px;
}
.AspectRatio4x3 #AbilitiesPanel
{
	margin-left: 160px;
}
.AspectRatio4x3 #BuffsPanel
{
	width: 800px;
	height: 56px;
	margin-bottom: 250px;
}
.AspectRatio4x3 #GoldPanel
{
	margin-bottom: 50px;
	margin-right: 0px;
	pre-transform-scale2d: 0.9;
}
.AspectRatio4x3 #HPManaBar,
.AspectRatio4x3 #DeadHeroBlocker
{
	margin-left: 220px;
}
.AspectRatio4x3 #DefaultInterfaceHeroName
{
	margin: 204px 313px;
}
.AspectRatio4x3.MinimalisticHudDisabled #AbilitiesPanel
{
	pre-transform-scale2d: 0.86;
	margin-left: 322px;
}

.AspectRatio4x3.MinimalisticHudDisabled #ClickPurgableModifiersOverlay
{
	align: left bottom;
	margin: 220px 478px;
}

//5x4
.AspectRatio5x4 #Background
{
	margin-left: 270px;
}
.AspectRatio5x4 #DotaHeroStatus
{
	pre-transform-scale2d: 0.9;
	margin-left: 260px;
}
.AspectRatio5x4 #AttributesPanel
{
	margin-left: 5px;
	margin-bottom: 285px;
}
.AspectRatio5x4 #AbilitiesPanel
{
	margin-left: 150px;
	pre-transform-scale2d: 0.95;
}
.AspectRatio5x4 #BuffsPanel
{
	width: 800px;
	height: 56px;
	margin-bottom: 250px;
}
.AspectRatio5x4 #GoldPanel
{
	margin-bottom: 150px;
	margin-right: 220px;
}
.AspectRatio5x4 #HPManaBar,
.AspectRatio5x4 #DeadHeroBlocker
{
	margin-left: 170px;
	pre-transform-scale2d: 0.9;
}
.AspectRatio5x4 #DefaultInterfaceHeroName
{
	margin: 191px 290px;
}
.AspectRatio5x4.MinimalisticHudDisabled #AbilitiesPanel
{
	pre-transform-scale2d: 0.8;
	margin-left: 303px;
}

.AspectRatio5x4.MinimalisticHudDisabled #ClickPurgableModifiersOverlay
{
	align: left bottom;
	margin: 210px 447px;
}


.AspectRatio4x3.MinimalisticHudDisabled #GoldPanel
{
	transform: translateY(30px);
}
.AspectRatio5x4.MinimalisticHudDisabled #GoldPanel
{
	margin-bottom: -20px;
	margin-right: 0px;
}

#PlayerControls
{
	align: right top;
	flow-children: right;
	margin: 8px;
}

.PlayerControlsButton
{
	width: 30px;
	height: 30px;
	text-align: center;
	font-size: 20px;
	color: rgb(180, 200, 255);
	font-weight: bold;
}

.PlayerControlsButton:hover
{
	pre-transform-scale2d: 1.04;
}
.PlayerControlsButton:active
{
	pre-transform-scale2d: 0.96;
}