.base 
{
	width: 100%;
	height: 100%;
}

#BanPanel
{
	width: 100%;
	height: 100%;
}

#TopBar
{
	width: 100%;
	background-color: darkred;
}

#TobBarLabel
{
	color: white;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 20px;
	align: center center;
}