.base
{
	align: right center;
	width: 100%;
	height: 100%;
}

#ShopBase
{
	align: right center;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
	transition-property: transform, opacity;
	box-shadow: rgba(0,0,0,235) -10px -10px 20px 20px;
	margin-bottom: 16%;
	margin-right: 0px;
	flow-children: right;
}

#ShopItemBasePanel
{
	height: 830px;
	width: 380px;
}

#ItembuildsPanel
{
	width: 270px;
	height: 100%;
	background-image: url("file://{images}/custom_game/shop/itembuilds_panel.png");
	background-position: -18px -12px;
	background-size: 112% 106%;
	flow-children: down;
}

.ItembuildsHidden #ItembuildsPanel
{
	visibility: collapse;
}

.SimpleRow
{
	flow-children: right;
	width: 100%;
	margin: 6px 8px;
}

.SimpleRowValue
{
	align: right center;
	color: white;
	font-weight: bold;
}

#ItembuildPanelsRoot
{
	width: 100%;
	flow-children: down;
	overflow: squish scroll;
}
.ItembuildItemGroup
{
	width: 100%;
	flow-children: down;
}

.ItembuildItemGroupTitle
{
	border-width: 0 0 1px 0;
	border-color: white;
	border-style: solid;
	padding-left: 16px;
	margin-left: 8px;
	margin-right: 4px;
	width: 100%;
}

.ItembuildItemGroupItemRoot
{
	margin-top: 6px;
	margin-left: 5px;
	width: 100%;
	flow-children: right-wrap;
}

DropDownMenu.DropDownMenuVisible
{
	width: 270px;
}
DropDown Label,
DropDownMenu Label
{
	font-size: 17px;
}

.ShopBase_Out
{
	transform: translateX(650px);
}

#ShopBtnLabel
{
	color: rgb(240,240,240);
	font-weight: bold;
	font-size: 24px;
	align: center center;
	text-shadow: 0px 0px 1px gold;
	text-transform: uppercase;
}
#ShopItemList,
#ItemRecipeBox
{
	width: 100%;
	flow-children: down;
}

#ShopItemList
{
	horizontal-align: right;
	height: 78.5%;
	box-shadow: -10px -10px 20px 20px rgba(0, 0, 0, 100);
}

#ItemRecipeBox
{
	align: right bottom;
	height: 21.5%;
	background-image: url("file://{images}/custom_game/shop/item_recipe_panel.png");
	background-size: 100% 100%;
}

.ItemRecipeBoxRow
{
	margin-top: 5px;
	height: 50px;
	horizontal-align: center;
	flow-children: right;
}

#ShopTabs
{
	align: center top;
	height: 32px;
	width: 100%;
	flow-children: right;
	background-image: url("file://{images}/custom_game/shop/tabs_panel.png");
	background-size: 100% 100%;
}

.ShopTabButton
{
	margin: 2px;
	height: 100%;
	background-image: url("file://{images}/custom_game/shop/tab.png");
	background-size: 100% 100%;
	transform: translateY(-2px);
}

.ShopTabButtonLabel
{
	margin: 4px;
	align: center center;
	font-size: 16px;
	color: white;
}

#ShopSearch
{
	align: center top;
	height: 6%;
	width: 100%;
}

#ShopSearchEntry
{
	font-size: 24px;
	color: white;
	height: 100%;
	width: 100%;
}

#ShopItems
{
	height: 100%;
	width: 100%;
	background-image: url("file://{images}/custom_game/shop/base_panel.png");
	background-size: 100% 100%;
}

#ShopItemsBase
{
	margin-top: 9px;
	height: 100%;
	width: 100%;
	visibility: visible;
}

#ShopSearchOverlay
{
	margin-top: 16px;
	margin-left: 15px;
	height: 100%;
	width: 100%;
	visibility: collapse;
	flow-children: right-wrap;
}

.InSearchMode #ShopItemsBase
{
	visibility: collapse;
}

.InSearchMode #ShopSearchOverlay
{
	visibility: visible;
}

.ShopItemGroup
{
	height: 100%;
	width: 58px;
	flow-children: down;
}

.CanBuy
{
	border: 1px solid orange;
	border-radius: 4px;
}

#SmallItemButton
{
	align: center center;
	width: 100%;
	height: 100%;
}

#SmallItemImage
{
	align: center center; 
	width: 100%;
	height: 100%;
}

#SmallItemStock
{
	color: #a020a0;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 0px 6px 3 #400040;
	margin-right: -2px;
	margin-bottom: -4px;

	vertical-align: top;
	horizontal-align: right;
	visibility: collapse;
}

#SmallItemDropTargetHighlight
{
	width: 100%;
	height: 100%;
	background-color: gradient(radial, 50% -20%, 0% 0%, 80% 80%, from(#FFFFFF), to(#FFFFFF00));
	opacity: 0;
}

.potential_drop_target #SmallItemDropTargetHighlight
{
	opacity: 0.3;
}

#QuickBuyClearButtonPanel
{

	align: right bottom;
	height: 30px;
	width: 30px;
	border-radius: -1px;
	border: 2px solid red;
	margin: 2px;
	color: red;
	text-align: center;
	font-size: 22px;
}

#QuickBuyStickyButtonPanel
{
	align: right top;
	width: 37.125px;
	height: 27px;
	margin: 2px;
}

.QuickBuyStickyItem
{
	width: 80%;
	height: 80%;
	align: center center;
	box-shadow: -0.5px -0.5px 1px 1px white;
	border-radius: 5px;
	margin: 0px;
}

#QuickBuyPanelItems
{
	align: left center;
	height: 100%;
	width: 172px;
	flow-children: right-wrap;
}

.DropDownValidTarget
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% -20%, 0% 0%, 80% 80%, from( blue ), to( white ) );
	opacity: 0;
}
.DropDownMode .DropDownValidTarget
{
	opacity: 0.25;
}





//Standart, 16x9
#ShopBtnPanel
{
	align: right bottom;
	margin-bottom: 122px;
	margin-right: 120px;
	height: 32px;
	width: 96px;
	background-color: black;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 7px;
}
#ShopBtnPanel:hover
{
	pre-transform-scale2d: 1.03;
}
#ShopBtnPanel:active
{
	pre-transform-scale2d: 1.01;
}
#QuickBuyPanel
{
	background-color: rgba(0,0,0,200);
	align: right bottom;
	margin-bottom:  50px;
	margin-right: 7px;
	height: 65px;
	width: 206px;
	box-shadow: -6px -6px 12px 12px rgba(0,0,0,200);
}

//4x3
.AspectRatio4x3 #ShopBtnPanel
{
	margin-bottom: 100px;
	margin-right: 4px;
}

.AspectRatio4x3 #QuickBuyPanel
{
	margin-bottom:  150px;
	margin-right: 7px;
	height: 65px;
	width: 206px;
}

//5x4
.AspectRatio5x4 #ShopBtnPanel
{
	margin-bottom: 100px;
	margin-right: -8px;
}

.AspectRatio5x4 #QuickBuyPanel
{
	margin-bottom:  150px;
	margin-right: 7px;
	height: 65px;
	width: 206px;
}

.MinimalisticHudDisabled #ShopBtnPanel,
.MinimalisticHudDisabled #QuickBuyPanel
{
	transform: translateY(-40px);
}

.AspectRatio4x3.MinimalisticHudDisabled #ShopBtnPanel
{
	transform: translateY(50px) translateX(7px);
}
.AspectRatio5x4.MinimalisticHudDisabled #ShopBtnPanel
{
	transform: translateY(50px);
}

.AspectRatio4x3.MinimalisticHudDisabled #QuickBuyPanel,
.AspectRatio5x4.MinimalisticHudDisabled #QuickBuyPanel
{
	transform: translateY(-5px);
}

.ShopTabButtonSelected
{
	background-image: url("file://{images}/custom_game/shop/tab_selected.png");
	transform: translateY(-0.5px);
	wash-color: PaleTurquoise;
}


.SmallItemPanel
{
	width: 49.5px;
	height: 36px;
	border-radius: 7px;
	margin: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.QuickbuyItemPanel
{
	width: 37.5px;
	height: 27px;
	border-radius: 5px;
	margin: 2px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength7 .SmallItemPanel
{
	width: 49.5px;
	height: 36px;
	margin: 1px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength8 .SmallItemPanel
{
	width: 44.55px;
	height: 32.4px;
	border-radius: 5px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength9 .SmallItemPanel
{
	width: 40.59px;
	height: 27px;
	margin: 0.5px;
	border-radius: 3px;
	border-width: 0.8px;
}

.BigItemPanel
{
	width: 70.4px;
	height: 51.2px;
	border-width: 2px;
	margin: 5px;
	border-radius: 0;
}

#ShowHideItemguidesPanel
{
	align: left bottom;
	margin-left: 0;
	height: 36px;
	width: 36px;
	background-color: rgba(0,0,0,240);
	border-radius: 7px;
}

#ShowHideItemguidesLabel
{
	color: rgb(240,240,240);
	font-weight: bold;
	font-size: 24px;
	align: center center;
	text-shadow: 0px 0px 1px gold;
}