.base
{
	align: right center;
	width: 100%;
	height: 100%;
}

#ShopBase
{
	align: right center;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
	transition-property: transform, opacity;
	box-shadow: rgba(0,0,0,0.4) -4px -4px 8px 8px;
	margin-bottom: 13.4%;
	margin-right: 0px;
	flow-children: right;
}

#ShopItemBasePanel
{
	height: 830px;
	width: 310px;
}

#ItembuildsPanel
{
	width: 208px;
	height: 100%;
	background-color: #000000ee;
	background-position: -18px -12px;
	background-size: 112% 106%;
	flow-children: down;
	transition-property: opacity, width;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.ItembuildsHidden #ItembuildsPanel
{
	width: 0;
	opacity: 0;
}

.SimpleRow
{
	flow-children: right;
	width: 100%;
	margin: 6px 8px;
}

.SimpleRowValue
{
	align: right center;
	color: white;
	font-weight: bold;
}

#ItembuildPanelsRoot
{
	width: 100%;
	flow-children: down;
	overflow: squish scroll;
}
.ItembuildItemGroup
{
	width: 100%;
	flow-children: down;
}

.ItembuildItemGroupTitle
{
	border-width: 0 0 1px 0;
	border-color: white;
	border-style: solid;
	padding-left: 16px;
	margin-left: 8px;
	margin-right: 4px;
	width: 100%;
	//text-overflow: shrink;
}

.ItembuildItemGroupItemRoot
{
	margin-top: 6px;
	margin-left: 5px;
	width: 100%;
	flow-children: right-wrap;
}

DropDownMenu.DropDownMenuVisible
{
	width: 208px;
}
DropDown Label,
DropDownMenu Label
{
	font-size: 14px;
}

.ShopBase_Out
{
	transform: translateX(650px);
}

#ShopItemList
{
	width: 100%;
	horizontal-align: right;
	height: 78.5%;
	box-shadow: -10px -10px 20px 20px rgba(0, 0, 0, 0.4);
	flow-children: down;
}

#ItemRecipeBox
{
	width: 100%;
	align: right bottom;
	height: 21.5%;
	background-color: #1c262f;
}

#ItemRecipeBoxRows
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.ItemRecipeBoxRow
{
	margin-top: 5px;
	height: 50px;
	horizontal-align: center;
	flow-children: right;
}

#ShopTabs
{
	align: center top;
	height: 32px;
	width: 100%;
	flow-children: right;
	background-image: url("file://{images}/custom_game/shop/tabs_panel.png");
	background-size: 100% 100%;
}

.ShopTabButton
{
	margin: 2px;
	height: 100%;
	background-color: black;
	transform: translateY(-2px);
}

.ShopTabButtonLabel
{
	margin: 4px;
	align: center center;
	font-size: 16px;
	color: #5b6872;
	font-weight: bold;
}

#ShopSearch
{
	align: center top;
	height: 6%;
	width: 100%;
}

#ShopSearchEntry
{
	font-size: 24px;
	color: white;
	height: 100%;
	width: 100%;
}

#ShopItems
{
	height: 100%;
	width: 100%;
	background-color: #181818;
}

#ShopItemsBase
{
	margin-top: 9px;
	height: 100%;
	width: 100%;
	visibility: visible;
}

#ShopSearchOverlay
{
	margin-top: 1px;
	margin-left: 2px;
	height: 100%;
	width: 100%;
	visibility: collapse;
	flow-children: right-wrap;
	overflow: squish scroll;
}

.InSearchMode #ShopItemsBase
{
	visibility: collapse;
}

.InSearchMode #ShopSearchOverlay
{
	visibility: visible;
}

.ShopItemGroup
{
	height: 100%;
	flow-children: down;
}

.CanBuy
{
	border: 1px solid #F0AB5D;
}

.NotPurchasableItem
{
	border: 1px solid red;
}

#SmallItemButton
{
	align: center center;
	width: 100%;
	height: 100%;
}

#SmallItemImage
{
	align: center center; 
	width: 100%;
	height: 100%;
}

#SmallItemStock
{
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 0px 0px 6px 3 #400040;
	margin-right: 0.5px;
	margin-bottom: -3px;
	align: right bottom;
}

#QuickBuyClearButtonPanel
{
	background-image: url("file://{images}/control_icons/x_close.png");
	background-size: cover;
	background-position: 50% 50%;
	align: right bottom;
	height: 20px;
	width: 16px;
	margin: 2px;
	brightness: 0.4;
	transition-property: brightness;
	transition-duration: 0.15s;
}
#QuickBuyClearButtonPanel:hover
{
	brightness: 1.0;
}

#QuickBuyClearButtonPanel:active
{
	brightness: 0.6;
}

#QuickBuyPanelItems
{
	align: left center;
	height: 100%;
	width: 232px;
	margin-left: 2px;
	margin-top: 2px;
	flow-children: right-wrap;
}

.DropDownValidTarget
{
	width: 100%;
	height: 100%;
}
.DropDownMode .DropDownValidTarget
{
	box-shadow: inset #0B93BEBF 20px 20px 40px 40px;
}





//Standart, 16x9
#QuickBuyPanel
{
	background-image: url("s2r://panorama/images/hud/reborn/quickbuy_bg_psd.vtex");
	align: right bottom;
	margin-bottom: 60px;
	margin-right: 0px;
	height: 65px;
	width: 262px;
	
	transition-property: transform;
	transition-duration: 0s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}
DOTAHud.IsBeforeGameplay #QuickBuyPanel
{
	transform: translateY(230px);
	transition-duration: 1s;
	transition-delay: 2s;	
}

.HUDFlipped #QuickBuyPanel
{
	horizontal-align: left;
}

.ShopTabButtonSelected .ShopTabButtonLabel
{
	color: white;
}

.SmallItemPanel
{
	width: 46px;
	height: width-percentage( 72.7% );
	margin: 2px;
	border-radius: 3px;
}

#QuickBuyStickyButtonPanel
{
	align: right top;
	margin: 2px;
	margin-top: 4px;
}

.QuickBuyStickyItem
{
	align: center center;
	margin: 0px;
	width: 47px;
	border-width: 2px;
}

.QuickbuyItemPanel
{
	width: 40px;
	margin: 1px;
	border-radius: 1px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength7 .SmallItemPanel
{
	margin: -1px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength8 .SmallItemPanel
{
	width: 40px;
	margin-left: -4px;
}

.ItemRecipeBoxRow.ItemRecipeBoxRowLength9 .SmallItemPanel
{
	width: 39px;
	margin-left: -3px;
	margin-right: -3px;
}

#ShowHideItemguidesPanel
{
	align: left bottom;
	margin-left: 0;
	height: 36px;
	width: 36px;
	background-color: rgba(0,0,0,0.95);
	border-radius: 7px;
}

#ShowHideItemguidesLabel
{
	color: rgb(240,240,240);
	font-weight: bold;
	font-size: 24px;
	align: center center;
	text-shadow: 0px 0px 1px gold;
}

#StockOverlay
{
	height: 100%;
	background-color: #000000DD;
}

#StockTimer
{
	color: white;
	font-size: 20px;
	text-shadow: 0px 0px 6px 6 #000000;
	horizontal-align: center;
	vertical-align: center;
}

.UnitItemlikeRecipePanel
{
	height: width-percentage( 60.8% );
	width: 57.6px;
	flow-children: down;
	border-radius: 2px;
}

.UnitItemlikeRecipePanel:disabled
{
	saturation: 0;
	wash-color: #D9FAF9;
	blur: gaussian( 1.1 );
}

.UnitItemlikeRecipePanelChance
{
	horizontal-align: right;
	margin-bottom: -7px;
	color: white;
	margin-top: -2px;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0px 0px 6px 6 black;
}

#ItemRecipeBoxDrops
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.ItemsPageInnerContainer
{
	height: 100%;
	horizontal-align: center;
	flow-children: right-wrap;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.15s;
}

.ItemsPageInnerContainer.SelectedPage
{
	opacity: 1;
}