.base
{
	width: 900px;
	height: 600px;
	align: center center;
}

#PlayerProfileBase
{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,240);
	border-radius: 24px;
	box-shadow: -4px -4px 8px 8px black;
	visibility: collapse;
}

.PanelOpened #PlayerProfileBase
{
	visibility: visible;
}

#CloseButton
{
	align: right top;
	margin: 10px;
}

#BasicStatusPanel
{
	background-color: rgb(60,60,60);
	flow-children: right;
	width: 100%;
}

#Avatar
{
	width: 128px;
	height: 128px;
	margin: 20px;
	border-radius: 20px;
}

#TextBasedInfoPanel
{
	margin-top: 20px;
	width: 100%;
	height: 150px;
	flow-children: down;
}

#UserName
{
	width: 100%;
	height: 37px;
}

#UserName Label
{
	font-size: 35px;
}

#DotalikeVariables
{
	flow-children: right;
	margin-top: 6px;
}

#ProfileBadge
{
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

#ProfileBadge:hover
{
	pre-transform-scale2d: 1.05;
}

.Stat
{
	padding: 7px 5px 3px 5px;
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	horizontal-align: center;
}

.StatTitle
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: baseText;
}

.StatValue
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	font-size: 28px;
	color: white;
}