.base
{
	vertical-align: top;
	horizontal-align: left;
	width: 17%;
	height: 100%;
	flow-children: down;
}
#Invites
{
	width: 100%;
	height: 64%;
	flow-children: down;
}
.InviteBox
{
	width: 100%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #ff0;
	box-shadow: black -2px -2px 4px 4px;
	flow-children: down;
}
.NotifyName
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: red;
	font-weight: bold;
}
.FieldTextNormal
{
	margin-top: 3px;
	margin-left: 10px;
	vertical-align: center;
	horizontal-align: left;
	font-size: 18px;
	color: black;
	font-weight: bold;
}
.FieldPanelCollectionNormal
{
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
	flow-children: right;
	color: blue;
}
.FieldButtonNormal
{
	color: blue;
}
/*
.LabelElementPanel
{
	margin-top: 3px;
	margin-left: 10px;
	flow-children: right;
}
.CustomPanelKeyLabel
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 18px;
	color: black;
	font-weight: bold;
}
.CustomPanelValueLabel
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 18px;
	color: #191919;
	font-weight: bold;
}*/
.ActiveElementsPanel
{
	width: 100%;
	vertical-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: grey;
}
.AcceptButtons
{
	width: 100%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	flow-children: right;
}
.AcceptButtons_Accept
{
	width: 46.3%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: lime;
}
.AcceptButtons_Accept:hover
{
	width: 47%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
.AcceptButtons_Accept:active
{
	border: 1px solid blue;
}
.AcceptButtons_Accept_Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: green;
	font-weight: bold;
}
.AcceptButtons_Decline
{
	width: 46.3%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: red;
}
.AcceptButtons_Decline:hover
{
	width: 47%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
.AcceptButtons_Decline:active
{
	border: 1px solid blue;
}
.AcceptButtons_Decline_Label
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: darkred;
	font-weight: bold;
}


.FieldTextTitle
{
	margin-top: 3px;
	margin-left: 10px;
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: red;
	font-weight: bold;
}
.FieldTextButtonAccept
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: green;
	font-weight: bold;
}
.FieldTextButtonDecline
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 24px;
	color: darkred;
	font-weight: bold;
}
.FieldPanelCollectionRight
{
	width: 100%;
	height: 100%;
	flow-children: right;
	color: blue;
}
.FieldButtonAccept
{
	width: 46.3%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: lime;
}
.FieldButtonAccept:hover
{
	width: 47%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
.FieldButtonAccept:active
{
	border: 1px solid blue;
}
.FieldButtonDecline
{
	width: 46.3%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: red;
}
.FieldButtonDecline:hover
{
	width: 47%;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
}
.FieldButtonDecline:active
{
	border: 1px solid blue;
}
.FieldTextBlank
{
	vertical-align: center;
	font-size: 18px;
	color: black;
	font-weight: bold;
}