.base {
  width: 1082px;
  min-height: 770px;
  vertical-align: top;
  margin-top: 54px;
  flow-children: none;
  transform: translateX(0);
  transition-property: position, transform, opacity, height;
  transition-duration: 0.16s;
  z-index: 3; }

.ScoreboardClosed {
  transform: translateX(-160px);
  opacity: 0; }
  .ScoreboardClosed #Background {
    box-shadow: transparent -4px -4px 8px 8px;
    transition-delay: 0s; }

#Background {
  min-height: 680px;
  width: 682px;
  background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8549);
  transition-property: box-shadow, height;
  transition-duration: .36s, .18s;
  transition-delay: .16s, 0s;
  transition-timing-function: ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.96078) -4px -4px 8px 8px; }
  #Background.ShowItems {
    height: 800px; }

#TeamHeader {
  height: 32px;
  vertical-align: top; }

#TeamScoreLabel {
  color: white;
  font-size: 30px;
  font-weight: normal;
  margin-left: 12px;
  margin-bottom: 0;
  width: 36px;
  vertical-align: bottom;
  text-align: center; }

#TeamLabel {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: bottom;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  width: 248px; }

.SubheaderDesc {
  color: #afd2e3;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 2px;
  vertical-align: bottom;
  text-align: center;
  text-transform: uppercase; }

#LvlLabel {
  width: 32px; }

#GoldLabel {
  width: 90px;
  margin-left: 15px; }

.KDALabel {
  width: 35px; }

#UltLabel {
  width: 40px; }

#MuteLabel {
  width: 100px; }

#TeamPlayersContainer {
  width: 682px;
  transition-property: height;
  transition-duration: .18s;
  transition-timing-function: ease-in-out; }

.ShowItems #TeamPlayersContainer {
  height: 336px; }

.ShowItems .ScoreboardPlayer {
  height: 64px;
  transition-property: height;
  transition-duration: .18s;
  transition-timing-function: ease-in-out; }

.ShowItems #NestedMenuButtons {
  margin-top: 1px; }

.ShowItems #ShowItemsButton {
  brightness: 2; }

.ScoreboardPlayer {
  height: 54px;
  width: 878px;
  margin-top: 2px;
  margin-bottom: 1px;
  background-color: rgba(17, 25, 32, 0.73333);
  border-top: 1px solid rgba(255, 255, 255, 0.01961);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01176); }
  .ScoreboardPlayer.LocalPlayer {
    background-color: gradient(linear, 0 0, 0 100%, from(#373c3b), color-stop(0.4, #505959), color-stop(0.6, #505959), to(#2f3535));
    border-top: 1px solid #5c616a;
    border-bottom: 1px solid #232323; }
    .ScoreboardPlayer.LocalPlayer .KDANumbers {
      color: white; }

.ScoreboardAvatar {
  height: 38px;
  width: 38px;
  vertical-align: center;
  margin-left: 6px;
  margin-right: 10px;
  background-color: gradient(linear, 0 0, 0 100%, from(rgba(136, 136, 136, 0.13333)), to(rgba(68, 68, 68, 0.2)));
  background-size: 100%;
  tooltip-position: right;
  tooltip-body-position: 50% 50%; }

.ScoreboardHeroImage {
  width: 67px;
  height: 38px;
  vertical-align: center;
  border: 1px solid black; }

.EmptyPlayerRow .ScoreboardHeroImage {
  opacity: 0; }

.EmptyPlayerRow .HeroNameLabel {
  visibility: collapse; }

.EmptyPlayerRow .ScoreboardXP {
  opacity: 0; }

.EmptyPlayerRow .KDANumbers {
  opacity: 0; }

.EmptyPlayerRow #PlayerColor {
  wash-color: black; }

#PlayerAndHeroNameContainer {
  width: 170px;
  height: 100%; }

.PlayerNameLabel {
  font-size: 20px;
  height: 60%;
  color: #b9d3d3;
  font-weight: thin;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: -4px;
  text-overflow: ellipsis; }

.LocalPlayer .PlayerNameLabel {
  color: white;
  font-weight: bold; }

.LocalPlayer .HeroNameLabel {
  color: #a9a6aa; }

.LocalPlayer #UnitControlButton {
  opacity: 0; }

.LocalPlayer #HeroControlButton {
  opacity: 0; }

.LocalPlayer #DisableHelpButton {
  opacity: 0; }

.LocalPlayer #ScoreboardMuteButtons {
  visibility: collapse; }

.HeroNameLabel {
  font-size: 14px;
  font-weight: thin;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 10px;
  color: #6d726b;
  margin-top: -7px; }

.ScoreboardXP {
  width: 50px;
  height: 100%;
  horizontal-align: left;
  vertical-align: center;
  margin-left: 1px;
  margin-right: 6px;
  margin-bottom: 2px; }

#LevelLabel {
  font-size: 2px; }

#GoldContainer {
  horizontal-align: center;
  vertical-align: middle;
  margin-left: 14px;
  margin-right: 16px; }

.ScoreboardGold {
  width: 60px;
  horizontal-align: left;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  color: #ffcc33;
  padding-top: 2px; }

.KDANumbers {
  width: 35px;
  height: 100%;
  vertical-align: middle;
  horizontal-align: center;
  text-align: center;
  font-weight: thin;
  color: #acacac;
  padding-top: 15px; }

.KDAKills {
  background-color: gradient(linear, 100% 0, 0 0, from(rgba(255, 255, 255, 0)), color-stop(0.1, rgba(0, 0, 0, 0.2)), color-stop(0.9, rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0)));
  font-weight: bold; }

#UltIcon {
  vertical-align: center;
  horizontal-align: center;
  width: 20px;
  height: 20px;
  background-size: contain;
  z-index: 20;
  opacity: 0; }

.UltOnCooldown #UltIcon {
  background-image: url("s2r://panorama/images/hud/reborn/ult_cooldown_psd.vtex"); }

.UltOnCooldown #UltCooldownSeconds {
  visibility: visible; }

#ScoreboardUltIndicator {
  width: 28px;
  height: 40px;
  vertical-align: center;
  horizontal-align: center;
  margin-left: 6px; }

#UltCooldownSeconds {
  color: #8a878d;
  font-size: 14px;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  visibility: collapse;
  padding-top: 1px;
  padding-right: 1px;
  font-family: 'RadianceM';
  font-weight: bold;
  z-index: 40;
  width: 100%;
  margin-top: 25px; }

#BuybackCooldown {
  color: #8a878d;
  font-size: 14px;
  text-align: center;
  horizontal-align: center;
  vertical-align: center;
  visibility: collapse;
  padding-top: 1px;
  padding-right: 1px;
  font-family: 'RadianceM';
  font-weight: bold;
  z-index: 40;
  width: 100%; }

#ScoreboardMuteButtons {
  vertical-align: center;
  horizontal-align: center;
  margin-left: 20px;
  margin-right: 10px;
  width: 200px; }

ToggleButton.ScoreboardMuteButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.33333) -2px -2px 4px 4px;
  vertical-align: center;
  horizontal-align: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: gradient(linear, 0 0, 0 100%, from(#373d45), to(#4d5860)); }

ToggleButton#VoiceMute {
  background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex"); }
  ToggleButton#VoiceMute .TickBox {
    visibility: collapse; }
  ToggleButton#VoiceMute:selected {
    background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_on_psd.vtex"); }

ToggleButton#TextMute {
  background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_text_psd.vtex"); }
  ToggleButton#TextMute .TickBox {
    visibility: collapse; }
  ToggleButton#TextMute:selected {
    background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_text_on_psd.vtex"); }

.EnemyTeam .ScoreboardGold {
  opacity: 0; }

.EnemyTeam #UltIcon {
  opacity: 0; }

.EnemyTeam .ScoreboardBuybackIndicator {
  opacity: 0; }

.EnemyTeam #UltCooldownSeconds {
  opacity: 0; }

.HideElement {
  opacity: 0; }

.CollapseElement {
  visibility: collapse; }

#EnemyPlayerLevel {
  font-weight: normal;
  color: #e7d291;
  width: 50px;
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 11px;
  margin-top: 5px;
  margin-left: 2px;
  font-size: 18px;
  z-index: -50;
  padding-right: 5px;
  margin-right: 5px; }

.SharedControlPlayer {
  height: 54px;
  width: 200px;
  margin-top: 2px;
  margin-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.51765);
  visibility: collapse; }
  .SharedControlPlayer ToggleButton {
    padding: 0; }

#PlayersContainer {
  margin-top: 32px; }

#SharedUnitControl {
  horizontal-align: left;
  margin-left: 450px;
  margin-right: 200px;
  width: 80px;
  flow-children: none;
  z-index: 0;
  background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
  background-size: 240% 240%;
  background-color: rgba(0, 0, 0, 0.00392);
  opacity: 0;
  border-color: black;
  box-shadow: transparent -2px -2px 4px 4px;
  transform: translateX(0);
  transition-property: position, transform, opacity, box-shadow;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out; }

.SharedUnitControl #SharedUnitControl {
  transform: translateX(231px);
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.00392) -2px -2px 4px 4px; }

.SharedUnitControl #SharedUnitControlButton {
  margin-right: 30px;
  margin-left: 0; }

.SharedUnitControl .SharedControlPlayer {
  visibility: visible; }

.SharedUnitControl #UnitControlButton {
  visibility: visible; }

.SharedUnitControl #HeroControlButton {
  visibility: visible; }

.SharedUnitControl #DisableHelpButton {
  visibility: visible; }

.SharedUnitControl #SharedUnitHeaders {
  visibility: visible; }

#SharedUnitControlButton {
  vertical-align: bottom;
  horizontal-align: center;
  margin-bottom: 10px;
  margin-left: 30px; }

#SharedUnitControlLabel {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #afd2e3; }

#UnitControlButton {
  horizontal-align: center;
  vertical-align: center;
  visibility: collapse;
  margin-left: 22px; }
  #UnitControlButton .TickBox {
    border-color: #8e8566; }
  #UnitControlButton:selected .TickBox {
    border-color: black;
    background-color: #cebc83;
    box-shadow: rgba(206, 188, 131, 0.06667) -4px -4px 8px 8px; }

#HeroControlButton {
  horizontal-align: center;
  vertical-align: center;
  visibility: collapse; }
  #HeroControlButton .TickBox {
    border-color: #8e8566; }
  #HeroControlButton:selected .TickBox {
    border-color: black;
    background-color: #cebc83;
    box-shadow: rgba(206, 188, 131, 0.06667) -4px -4px 8px 8px; }

#DisableHelpButton {
  horizontal-align: center;
  vertical-align: center;
  visibility: collapse; }
  #DisableHelpButton .TickBox {
    border-color: #8e8566; }
  #DisableHelpButton:selected .TickBox {
    border-color: black;
    background-color: #cebc83;
    box-shadow: rgba(206, 188, 131, 0.06667) -4px -4px 8px 8px; }

#SharedUnitHeaders {
  margin-top: 10px;
  visibility: collapse;
  horizontal-align: center; }

.SharedUnitLabels {
  text-align: center;
  text-transform: uppercase;
  color: #cebc83;
  font-size: 15px;
  font-weight: bold; }

#UnitLabel {
  margin-left: 18px; }

#HeroLabel {
  margin-left: 27px; }

.ScoreboardBuybackIndicator {
  vertical-align: center;
  horizontal-align: center;
  width: 100%;
  height: 24px;
  background-image: url("s2r://panorama/images/hud/reborn/scoreboard_buyback_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 20;
  opacity: 0; }

.BuybackReady {
  opacity: 1; }

#PlayerColor {
  width: 4px;
  height: 100%;
  background-color: green;
  background-image: url("s2r://panorama/images/hud/reborn/scoreboard_playerslot_vignette_psd.vtex");
  background-size: 92% 100%;
  background-repeat: no-repeat; }

#NestedMenuButtons {
  width: 100%;
  height: 30px;
  margin: 5px;
  vertical-align: bottom; }
  #NestedMenuButtons Button {
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 4px;
    margin-right: 4px;
    vertical-align: middle;
    horizontal-align: left;
    background-position: center;
    opacity: 0.2;
    tooltip-position: bottom;
    tooltip-body-position: 50% 50%;
    transition-property: opacity;
    transition-duration: 0.2s; }
    #NestedMenuButtons Button:hover {
      opacity: 1.0; }
    #NestedMenuButtons Button:active {
      opacity: 1.0; }

#CombatLogButton {
  background-image: url("s2r://panorama/images/hud/reborn/icon_combat_log_psd.vtex");
  width: 26px;
  height: 26px;
  margin-top: 2px; }

#SharedContentButton {
  background-image: url("s2r://panorama/images/hud/reborn/shared_content_rest_psd.vtex");
  width: 32px;
  height: 32px; }

#SharedUnitsButton {
  background-image: url("s2r://panorama/images/hud/reborn/sharedunit_rest_png.vtex");
  width: 32px;
  height: 32px; }

#ShowItemsButton {
  background-image: url("s2r://panorama/images/control_icons/brackets_png.vtex");
  width: 32px;
  height: 32px; }

#CoachMuteContainer {
  horizontal-align: left;
  vertical-align: bottom;
  visibility: collapse; }

#NestContainer {
  horizontal-align: right;
  flow-children: right; }

DOTAScoreboardPlayerInventory {
  height: 64px;
  width: 206px;
  margin-top: 2px;
  margin-bottom: 1px;
  padding-left: 8px;
  background-color: rgba(0, 0, 0, 0.00392);
  border-top: 1px solid rgba(255, 255, 255, 0.01961);
  border-bottom: 1px solid rgba(255, 255, 255, 0.01176);
  border-right: 1px solid black; }
  DOTAScoreboardPlayerInventory DOTAAbilityPanel {
    width: 47px;
    height: 32px; }
  DOTAScoreboardPlayerInventory.Empty {
    opacity: 0.0; }
  DOTAScoreboardPlayerInventory #ScoreboardStash {
    margin-left: 20px;
    visibility: collapse; }
  DOTAScoreboardPlayerInventory #ScoreboardBackpack DOTAAbilityPanel {
    width: 47px;
    border: 1px solid black;
    height: 21px; }

#TeamInventories {
  margin-left: 450px;
  transition-property: transform, opacity;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out;
  opacity: 0.0;
  transform: none; }
  #TeamInventories.ShowItems {
    opacity: 1.0;
    transform: translateX(231px); }

#RadiantTeamInventory {
  horizontal-align: left;
  width: 400px;
  height: 370px;
  flow-children: none;
  z-index: 0; }

#DireTeamInventory {
  horizontal-align: left;
  width: 400px;
  height: 370px;
  flow-children: none;
  z-index: 0;
  margin-top: 364px;
  height: 410px;
  background-position: 0 52%; }
  #DireTeamInventory #TeamInventoryBackground {
    height: 410px; }

#TeamInventoryBackground {
  horizontal-align: right;
  margin-right: 191px;
  width: 218px;
  height: 370px;
  margin-top: 0;
  flow-children: none;
  z-index: 0;
  background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
  background-size: 240% 240%;
  background-color: rgba(0, 0, 0, 0.8549);
  border-color: black;
  transition-property: position, transform, opacity, box-shadow;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.00392) -2px -2px 4px 4px; }

#RadiantTeamInventoryContainer {
  margin-top: 32px; }

#DireTeamInventoryContainer {
  margin-top: 36px; }

#RadiantTeamInventoryHeaders {
  margin-top: 10px;
  padding-left: 10px; }

#DireTeamInventoryHeaders {
  margin-top: 10px;
  padding-left: 10px;
  margin-top: 10px; }

.LocalTeamInventoryLabels {
  text-align: center;
  text-transform: uppercase;
  color: #cebc83;
  font-size: 15px;
  font-weight: bold; }

#HeroInspectIcon {
  width: 24px;
  height: 24px;
  vertical-align: center;
  horizontal-align: left;
  background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: black;
  transition-property: opacity;
  transition-duration: 0.1s;
  opacity: 0; }

#TeamList {
  flow-children: down; }

.Team {
  flow-children: down; }

#Legend {
  flow-children: right;
  height: 100%;
  visibility: collapse; }

.map_landscape_4v4v4v4 .ScoreboardPlayer {
  height: 50px; }

.map_landscape_4v4v4v4 .SharedControlPlayer {
  height: 50px; }

DOTAHud.IsBeforeGameplay .base {
  opacity: 0; }

.UltLearned #UltIcon {
  opacity: 1; }

.UltReady #UltIcon {
  background-image: url("s2r://panorama/images/hud/reborn/ult_ready_psd.vtex"); }

.UltReadyNoMana #UltIcon {
  background-image: url("s2r://panorama/images/hud/reborn/ult_no_mana_psd.vtex"); }

.Dire #PlayersContainer {
  margin-top: 36px; }

.BuybackNotEnoughGold.BuybackReady {
  opacity: 0; }

.BuybackOnCooldown #BuybackCooldown {
  visibility: visible; }

.HasCoach #CoachMuteContainer {
  visibility: visible; }

#HeroImage:hover #HeroInspectIcon {
  opacity: 1; }

.FirstTeam #Legend {
  visibility: visible; }

.Reborn #LevelBackground {
  margin-left: 4px;
  pre-transform-scale2d: 0.8; }
