.base
{
	align: center center;
	width: 1300px;
	height: 700px;
	background-color: black;
	flow-children: right;
}

#CADInfoPanel
{
	width: 300px;
	height: 100%;
	background-color: rgb(50,50,50);
	flow-children: down;

}

#CADPanelLabel
{
	color: white;
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	horizontal-align: center;
}

#CADSlot
{
	align: center top;
	margin-top: 0px;
}

#SpellCardsPanel
{
	width: 240px;
	height: 138px;
	horizontal-align: center;
	background-color: rgb(20,20,20);
	margin: 8px;
	border: 4px solid rgb(30,30,30);
}

.SpellCardPanel.ItemPanel
{
	align: left top;
}