.base {
  vertical-align: top;
  horizontal-align: center;
  height: 132px;
  width: 1700px;
  transform: translateY(0px);
  transition-property: transform;
  transition-duration: 1s;
  transition-delay: 2s;
  transition-timing-function: ease-in-out; }

#HeroImage {
  transition-property: wash-color, saturation, brightness, contrast;
  z-index: 3;
  background-color: gradient(linear, 0 0, 0 100%, from(#333333), color-stop(0.2, #444444), color-stop(0.5, #333333), to(#111111));
  width: 66px;
  height: width-percentage(55%);
  margin-top: 4px;
  vertical-align: top;
  transition-duration: 0.1s;
  saturation: 1;
  brightness: 1;
  contrast: 1; }

#TeamsPanel {
  height: 100%;
  flow-children: right;
  horizontal-align: center; }

#TopBarLeftTeams {
  width: 772px;
  height: 100%;
  margin-right: 76px; }
  #TopBarLeftTeams .TopBarBackground {
    horizontal-align: right; }

#TopBarRightTeams {
  width: 772px;
  height: 100%; }
  #TopBarRightTeams .TopBarBackground {
    transform: scaleX(-1); }

.AspectRatio4x3 #TopBarLeftTeams {
  margin-left: -91px; }

.AspectRatio4x3 #HeroImage {
  width: 50px; }

.AspectRatio4x3 #BuybackIcon {
  margin-bottom: 18px; }

.AspectRatio4x3 .TopBarBackground {
  background-size: 100% 80%; }

.AspectRatio4x3 #TopBarScore {
  margin-top: 3px; }

.AspectRatio4x3 #TopBarUltIndicator {
  margin-top: 21px; }

.AspectRatio4x3 #RespawnTimer {
  margin-bottom: 8px; }

.AspectRatio4x3 #GoldIcon {
  margin-bottom: 8px; }

.AspectRatio4x3 #DisconnectIcon {
  width: 50px; }

.AspectRatio4x3 .TopBarHealthBar {
  width: 40px;
  margin-bottom: 38px; }

.AspectRatio4x3 #ManaBar {
  width: 40px;
  margin-bottom: 30px; }

.AspectRatio5x4 #TopBarLeftTeams {
  margin-left: -91px; }

.AspectRatio5x4 #HeroImage {
  width: 50px; }

.AspectRatio5x4 #BuybackIcon {
  margin-bottom: 18px; }

.AspectRatio5x4 .TopBarBackground {
  background-size: 100% 80%; }

.AspectRatio5x4 #TopBarScore {
  margin-top: 3px; }

.AspectRatio5x4 #TopBarUltIndicator {
  margin-top: 21px; }

.AspectRatio5x4 #RespawnTimer {
  margin-bottom: 8px; }

.AspectRatio5x4 #GoldIcon {
  margin-bottom: 8px; }

.AspectRatio5x4 #DisconnectIcon {
  width: 50px; }

.AspectRatio5x4 .TopBarHealthBar {
  width: 40px;
  margin-bottom: 38px; }

.AspectRatio5x4 #ManaBar {
  width: 40px;
  margin-bottom: 30px; }

#TopBarRightPlayers {
  horizontal-align: right;
  flow-children: right; }
  #TopBarRightPlayers #BuybackIcon {
    margin-left: 0;
    margin-right: 6px; }
  #TopBarRightPlayers #TopBarPlayersContainer .SlantedContainer {
    opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_right_psd.vtex"); }
  #TopBarRightPlayers #TopBarPlayersContainer .TopBarPlayerSlot {
    margin-right: -4px; }
  #TopBarRightPlayers #TopBarPlayersContainer #PlayerColor {
    background-size: 93% 100%;
    background-position: 5px 0; }
  #TopBarRightPlayers #TopBarPlayersContainer .TopBarHealthBar {
    margin-right: 6px; }
  #TopBarRightPlayers #TopBarPlayersContainer #TopBarUltIndicator {
    margin-right: 6px; }
  #TopBarRightPlayers #TopBarPlayersContainer #ManaBar {
    margin-right: 6px; }
  #TopBarRightPlayers #TopBarPlayersContainer #GoldIcon {
    margin-right: 6px; }
  #TopBarRightPlayers #TopBarPlayersContainer #RespawnTimer {
    margin-right: 6px; }
  #TopBarRightPlayers #TopBarScore {
    horizontal-align: right;
    margin-right: 8px; }
  #TopBarRightPlayers #TeamScorePlayersMainFlow {
    flow-children: left; }

#TopBarLeftPlayers {
  flow-children: left; }
  #TopBarLeftPlayers #TopBarPlayersContainer {
    flow-children: left; }
    #TopBarLeftPlayers #TopBarPlayersContainer .SlantedContainer {
      opacity-mask: url("s2r://panorama/images/masks/topbar_heroslant_left_psd.vtex"); }
    #TopBarLeftPlayers #TopBarPlayersContainer .TopBarPlayerSlot {
      margin-left: -4px; }
    #TopBarLeftPlayers #TopBarPlayersContainer #DeadLayer {
      transform: scaleX(-1); }
    #TopBarLeftPlayers #TopBarPlayersContainer .TopBarHealthBar {
      margin-left: 6px; }
    #TopBarLeftPlayers #TopBarPlayersContainer #TopBarUltIndicator {
      margin-left: 6px; }
    #TopBarLeftPlayers #TopBarPlayersContainer #ManaBar {
      margin-left: 6px; }
    #TopBarLeftPlayers #TopBarPlayersContainer #GoldIcon {
      margin-left: 6px; }
    #TopBarLeftPlayers #TopBarPlayersContainer #RespawnTimer {
      margin-left: 6px; }
  #TopBarLeftPlayers #TopBarScore {
    horizontal-align: left;
    margin-left: 4px; }
  #TopBarLeftPlayers #TeamScorePlayersMainFlow {
    flow-children: right;
    overflow: noclip; }

.PlayerContainer {
  width: 100%;
  height: 100%; }

#BuybackIcon {
  background-image: url("s2r://panorama/images/hud/reborn/buyback_topbar_alive_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 11px;
  opacity: 0;
  horizontal-align: left;
  vertical-align: bottom;
  z-index: 3;
  margin-bottom: 10px;
  margin-left: 6px;
  transform: translateY(-13px);
  transition-property: opacity, pre-transform-scale2d, transform;
  transition-duration: .12s;
  transition-timing-function: ease-out; }

.AltPressed .TopBarHealthBar {
  opacity: 1;
  transform: translateY(11px); }

.AltPressed #ManaBar {
  opacity: 1;
  transform: translateY(11px); }

.AltPressed #TimeUntil {
  opacity: 1;
  transform: translateY(0px); }

.AltPressed #KillGoal {
  opacity: 1;
  transform: translateY(0px); }

.AltPressed #GamemodeVariablePanel {
  height: 36px; }

.AltPressed #DuelTimer {
  transform: translateY(0px); }

.AltPressed .TeamScorePlayers:not(.EnemyTeam) .BuybackReady #BuybackIcon {
  transform: translateY(0px);
  opacity: 1; }

.AltPressed .Dead.BuybackReady #BuybackIcon {
  opacity: 0; }

.AltPressed .EnemyTeam #ManaBar {
  opacity: 0; }

#TopBarPlayersContainer {
  height: 100%;
  z-index: 2;
  min-width: 200px; }

.TopBarBackground {
  background-image: url("s2r://panorama/images/hud/reborn/top_bar_team_bg_psd.vtex");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 98%;
  height: 40px; }

.TopBarPlayerSlot {
  height: 66px; }

#TopBarScore {
  color: white;
  font-size: 22px;
  font-weight: bold;
  font-family: 'RadianceM';
  height: 38px;
  width: 50px;
  text-align: center;
  margin-top: 7px;
  z-index: 5; }

.TeamScorePlayers {
  height: 66px; }
  .TeamScorePlayers#TopBarLeftPlayers #RespawnTimer {
    transform: translateY(-28px) translateX(-4px); }
  .TeamScorePlayers .Dead #RespawnTimer {
    z-index: 5;
    opacity: 1;
    transform: translateY(0px); }

#TeamScorePlayersMainFlow {
  height: 100%; }

.TopBarHealthBar {
  width: 60px;
  height: 8px;
  border: 0;
  margin-bottom: 30px;
  vertical-align: bottom;
  border-radius: 0;
  opacity: 0;
  z-index: -500;
  transition-property: transform, opacity;
  transition-duration: 0.12s;
  transition-timing-function: ease-in-out; }
  .TopBarHealthBar .ProgressBarLeft {
    background-color: #339933;
    background-image: url("s2r://panorama/images/hud/reborn/topbar_health_psd.vtex");
    background-size: cover;
    border-radius: 0; }
  .TopBarHealthBar .ProgressBarRight {
    background-color: gradient(linear, 0 0, 0 100%, from(#17200d), color-stop(0.2, #222e13), color-stop(0.5, #1e2911), to(#17200d)); }

#TopBarUltIndicator {
  vertical-align: top;
  horizontal-align: center;
  width: 38px;
  height: 20px;
  background-size: 18px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  z-index: 500;
  opacity: 0;
  margin-top: 28px;
  tooltip-position: bottom;
  tooltip-body-position: 50% 50%; }

#AbilityDraftHitBox {
  visibility: collapse;
  width: 58px;
  height: 30px;
  vertical-align: top;
  horizontal-align: center;
  tooltip-position: bottom;
  tooltip-body-position: 50% 50%;
  opacity: 1; }

#TimeOfDay {
  width: 80px;
  height: 82px;
  vertical-align: top;
  z-index: 2;
  background-size: cover; }

#TimeOfDayContent {
  height: 100%;
  width: 100%; }

#DayGlow {
  height: 46px;
  width: 90px;
  horizontal-align: center;
  vertical-align: top;
  z-index: 2;
  background-size: cover;
  background-image: url("s2r://panorama/images/hud/reborn/glow_day_psd.vtex");
  background-repeat: no-repeat;
  animation-name: DayNightPulse;
  animation-duration: 2.94s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  visibility: collapse; }

#NightGlow {
  height: 46px;
  width: 90px;
  horizontal-align: center;
  vertical-align: top;
  z-index: 2;
  background-size: cover;
  background-image: url("s2r://panorama/images/hud/reborn/glow_night_psd.vtex");
  background-repeat: no-repeat;
  animation-name: DayNightPulse;
  animation-duration: 2.94s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  visibility: collapse; }

#GameTime {
  color: white;
  vertical-align: top;
  horizontal-align: center;
  margin-top: 23px;
  letter-spacing: 1px;
  font-family: 'RadianceM';
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  text-align: center; }

.LowVisualQuality #GameTime {
  text-shadow: 1px 1px 0 2 rgba(0, 0, 0, 0.06667); }

.LowVisualQuality #RespawnTimerLabel {
  text-shadow: 0 0 0 2 black; }

.LowVisualQuality #TimeUntil {
  text-shadow: 1px 1px 0 2 rgba(0, 0, 0, 0.26667); }

.TimeOfDayIcon {
  width: 23px;
  height: 23px;
  horizontal-align: center;
  background-size: cover;
  z-index: 50;
  margin-top: 2px;
  margin-right: 1px; }

.DayIcon {
  background-image: url("s2r://panorama/images/hud/reborn/icon_sun_psd.vtex"); }

.NightIcon {
  transform: scaleX(-1);
  background-image: url("s2r://panorama/images/hud/reborn/icon_moon_psd.vtex"); }

#RespawnTimer {
  width: 100%;
  height: 26px;
  z-index: -1;
  vertical-align: bottom;
  horizontal-align: center;
  background-color: gradient(linear, 0 0, 0 100%, from(#181b1d), to(#22292f));
  opacity: 0;
  transform: translateY(-28px) translateX(4px);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition-property: transform, opacity;
  transition-duration: .2s;
  transition-timing-function: ease-out; }

#RespawnTimerLabel {
  color: white;
  font-size: 16px;
  text-align: center;
  opacity: 1;
  horizontal-align: center;
  vertical-align: center;
  margin-top: 4px;
  width: 100%;
  height: 100%;
  font-family: 'RadianceM';
  font-weight: bold; }

.BuybackReady #RespawnTimer {
  background-image: url("s2r://panorama/images/hud/reborn/top_bar_buyback_bg_psd.vtex");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

.BuybackReady.Dead #TopBarBuybackStatus {
  opacity: 1; }

#AliveBuybackStatus {
  background-image: url("s2r://panorama/images/hud/reborn/topbar_buyback_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .18s;
  transition-timing-function: ease-in-out; }

#TopBarBuybackStatus {
  background-image: url("s2r://panorama/images/hud/reborn/topbar_buyback_psd.vtex");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .18s;
  transition-timing-function: ease-in-out; }

.Dead #HeroImage {
  wash-color: #898989;
  saturation: 0.0; }

.Dead #DeadLayer {
  opacity: 1; }

.Dead #HealthBar {
  opacity: 0; }

.Dead #ManaBar {
  opacity: 0; }

#DeadLayer {
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0; }

.HideElement {
  opacity: 0; }

.EnemyTeam {
  opacity: 0; }
  .EnemyTeam #TopBarUltIndicator {
    opacity: 0; }
  .EnemyTeam #HealthBar {
    opacity: 0; }

#GoldIcon {
  background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  horizontal-align: center;
  vertical-align: bottom;
  opacity: 0;
  margin-top: 4px; }

#PlayerColor {
  width: 100%;
  height: 4px;
  z-index: 5;
  background-image: url("s2r://panorama/images/hud/reborn/topbar_playerslot_vignette_psd.vtex");
  background-size: 92% 100%;
  background-repeat: no-repeat; }

#PlayerColorShadow {
  width: 100%;
  height: 100%;
  margin-top: 4px;
  z-index: 4;
  background-color: gradient(linear, 0 0, 0 100%, from(black), color-stop(0.03, rgba(0, 0, 0, 0.66667)), color-stop(0.1, transparent), color-stop(0.91, transparent), color-stop(0.95, rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.66667))); }

.Disconnected #HeroImage {
  opacity: 0.5; }

.Disconnected #DisconnectIcon {
  opacity: 1; }

#DisconnectIcon {
  width: 67px;
  height: 20px;
  margin-top: 12px;
  vertical-align: top;
  background-image: url("s2r://panorama/images/hud/reborn/icon_disconnect_png.vtex");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 20;
  opacity: 0; }

#ManaBar {
  width: 60px;
  height: 8px;
  border: 0;
  z-index: 1;
  margin-bottom: 22px;
  vertical-align: bottom;
  box-shadow: none;
  border-radius: 0;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.12s;
  transition-timing-function: ease-in-out; }
  #ManaBar .ProgressBarLeft {
    border-radius: 0;
    background-image: url("s2r://panorama/images/hud/reborn/topbar_mana_psd.vtex");
    background-size: cover; }
  #ManaBar .ProgressBarRight {
    border-radius: 0;
    background-color: gradient(linear, 0 0, 0 100%, from(#101932), color-stop(0.2, #172447), color-stop(0.5, #162244), to(#101932)); }

#TimeOfDayBG {
  horizontal-align: center;
  visibility: visible;
  z-index: 2;
  background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
  background-size: 100%;
  height: 46px;
  width: 90px; }

#TimeUntil {
  color: white;
  align: center top;
  margin-top: 84px;
  letter-spacing: 1px;
  font-family: 'RadianceM', 'Radiance';
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  text-shadow: 1px 1px 0 2 rgba(0, 0, 0, 0.26667);
  transition-property: transform, opacity;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out;
  transform: translateY(-4px); }

.ShowTimeUntil #TimeUntil {
  opacity: 1;
  transform: translateY(0px); }

.ShowTimeUntil #KillGoal {
  opacity: 1;
  transform: translateY(0px); }

.ShowTimeUntil #GamemodeVariablePanel {
  height: 36px; }

.ShowTimeUntil #DuelTimer {
  transform: translateY(0px); }

#GamemodeVariablePanel {
  background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
  background-size: 100%;
  height: 30px;
  width: height-percentage(195.7%);
  margin-top: 44px;
  align: center top;
  flow-children: down;
  transition-property: height;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out; }

#KillGoal {
  color: #ff4141;
  align: center top;
  letter-spacing: 1px;
  font-family: 'RadianceM';
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out;
  transform: translateY(-4px); }

#DuelTimer {
  color: white;
  align: center top;
  letter-spacing: 0.8px;
  font-family: 'RadianceM';
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-top: -4px;
  transform: translateY(-10px);
  transition-property: transform;
  transition-duration: 0.18s;
  transition-timing-function: ease-in-out; }

DOTAHud.IsBeforeGameplay .base {
  transform: translateY(-78px); }

.ColorBlindModeEnabled .TopBarHealthBar .ProgressBarLeft {
  background-color: gradient(linear, 0 0, 0 100%, from(#658fdf), color-stop(0.2, #a4caff), color-stop(0.5, #3f6fcb), to(#2c56ab));
  background-image: none; }

.IsAbilityDraft #AbilityDraftHitBox {
  visibility: visible; }

.UltLearned #TopBarUltIndicator {
  opacity: 1; }

.UltReady #TopBarUltIndicator {
  background-image: url("s2r://panorama/images/hud/reborn/ult_ready_psd.vtex"); }

.UltReadyNoMana #TopBarUltIndicator {
  background-image: url("s2r://panorama/images/hud/reborn/ult_no_mana_psd.vtex"); }

.UltOnCooldown #TopBarUltIndicator {
  background-image: url("s2r://panorama/images/hud/reborn/ult_cooldown_psd.vtex"); }

.NightTime #NightGlow {
  visibility: visible; }

.DayTime #DayGlow {
  visibility: visible; }

.EnemyHeroMissing #HeroImage {
  opacity: 1.0; }

.Spectating #ManaBar {
  opacity: 1;
  transform: translateY(11px); }

.BuybackUsed #GoldIcon {
  z-index: 500;
  opacity: 1; }

.IsLocalPlayerSpectating .TopBarHealthBar {
  opacity: 1;
  transform: translateY(11px); }
