.AbilityCooldowns
{
	padding:2px;
	border-radius: 5px;
	flow-children: down;
}

#AbilityBox
{
	flow-children:right;
}

.AbilityCdBox
{
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	width: 48px;
	height: 48px;
	margin-right: 1px;
	margin-left: 1px;
}

.AbilityCdImage
{
	border-radius: 3px;
	border: 1px solid #aaaaaa;
	width: 48px;
	height: 48px;
}

.CooldownOverlay
{
	height: 100%;
	background-color: #000000DD;
}

.CooldownTimer
{
	color: white;
		font-size: 24px;
	text-shadow: 0px 0px 6px 6 #000000;
		horizontal-align: center;
		vertical-align: center;
}

.Cooldown
{
	width: 100%;
	height: 100%;
	visibility: visible;
}

.AbilityLevel
{
	color: orange;
	font-size: 18px;
	text-shadow: 0px 0px 6px 6 #000000;
	horizontal-align: left;
	vertical-align: bottom;
	margin-left: 2px;
	margin-bottom: -2px;
}

.ManacostPanel
{
	width: 100%;
	height: 100%;
	background-color: blue;
	opacity: 0.3;
}

#HealthBar
{
	horizontal-align: center;
}